Repository openline-ai/openline-customer-os, pull requests merged in 2023-07, with the labels that each got.

#2599 fix #2598: Contact list and location related ui improvements
  packages/apps/spaces/components/finder/finder-table/AddressTableCell.tsx
  packages/apps/spaces/components/organization/organization-contacts/OrganizationContacts.tsx
  packages/apps/spaces/components/organization/organization-contacts/organization-contacts.module.scss
  packages/apps/spaces/components/shared/location/Location.tsx
  packages/apps/spaces/components/ui-kit/atoms/address/address.module.scss
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableCell.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/table-cells.module.scss
  packages/apps/spaces/ui/form/select/components/SelectWrapper.tsx
  packages/apps/spaces/ui/form/select/components/select.module.scss
  packages/apps/spaces/ui/presentation/table/Table.module.scss
Labels: bug

#2601 wip: setup chakra + remake sidebar
  packages/apps/spaces/app/(routes)/organizations/page.tsx
  packages/apps/spaces/app/components/ErrorPage/ErrorPage.module.scss
  packages/apps/spaces/app/components/ErrorPage/ErrorPage.tsx
  packages/apps/spaces/app/components/PageLayout/PageLayout.module.scss
  packages/apps/spaces/app/components/PageLayout/PageLayout.tsx
  packages/apps/spaces/app/components/PageLayout/index.ts
  packages/apps/spaces/app/components/Providers/Providers.tsx
  packages/apps/spaces/app/components/Providers/ThemeProvider.tsx
  packages/apps/spaces/app/components/Sidebar/Sidebar.module.scss
  packages/apps/spaces/app/components/Sidebar/Sidebar.tsx
  packages/apps/spaces/app/components/Sidebar/SidebarItem.module.scss
  packages/apps/spaces/app/components/Sidebar/SidebarItem.tsx
  packages/apps/spaces/app/layout.tsx
  packages/apps/spaces/package.json
  packages/apps/spaces/tsconfig.json
  packages/apps/spaces/ui/layout/Box/index.ts
  packages/apps/spaces/ui/layout/Flex/index.ts
  packages/apps/spaces/ui/layout/Grid/index.ts
  packages/apps/spaces/ui/media/Image/index.ts
  packages/apps/spaces/ui/navigation/Link/index.ts
  packages/apps/spaces/ui/theme/theme.ts
  packages/apps/spaces/yarn.lock
Labels: app/spaces

#2604 fix: 2598: Added hideTooltip prop to DashboardTableAddressCell component
  packages/apps/spaces/components/finder/finder-table/AddressTableCell.tsx
  packages/apps/spaces/components/finder/finder-table/finder-table.module.scss
  packages/apps/spaces/components/shared/location/LocationList.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableCell.tsx
Labels: bug

#2607 chore: fix postcss warnings
  packages/apps/spaces/components/contact/contact-details/contact-details.module.scss
  packages/apps/spaces/components/ui-kit/atoms/input/editable-content-input.module.scss
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/table-cells.module.scss
  packages/apps/spaces/components/ui-kit/molecules/issue-timeline-item/issue-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/components/meeting-recording/meeting-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/meeting-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline-status/timeline-status.module.scss
  packages/apps/spaces/next.config.js
Labels: app/spaces

#2636 fix 2596: Fixed organization table duplicated records
  packages/apps/spaces/apollo-client.ts
Labels: bug

#2637 fix 2612: Fix invisible dropdown options
  packages/apps/spaces/ui/form/select/components/select.module.scss
  packages/apps/spaces/ui/presentation/table/Table.module.scss
Labels: bug

#2643 fix 2641: Add .vercelignore to ignore unnecessary files
  packages/apps/spaces/.vercelignore
Labels: bug, app/spaces

#2691 enhance: About Panel final touches
  packages/apps/spaces/app/organizations/[id]/components/Tabs/TabsHeader.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/AboutPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/FormSocialInput/FormSocialInput.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/FormSocialInput/SocialInput.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/FormSocialInput/util.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/FormUrlInput/FormUrlInput.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/FormUrlInput/UrlInput.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/FormUrlInput/index.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/OrganizationAbout.dto.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/util.ts
  packages/apps/spaces/app/organizations/[id]/graphql/addSocial.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/addSocial.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/organization.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/organization.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/removeSocial.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/removeSocial.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/updateOrganization.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/updateOrganization.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/updateSocial.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/updateSocial.graphql
  packages/apps/spaces/app/types/__generated__/graphql.types.ts
  packages/apps/spaces/tsconfig.json
  packages/apps/spaces/ui/form/Input/Input.theme.ts
  packages/apps/spaces/ui/form/Textarea/Textarea.theme.ts
Labels: app/spaces

#2695 fix: hide horizontal scroll on About Panel
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/AboutPanel.tsx
Labels: app/spaces

#2728 feat: migrate Table to chakra
  packages/apps/spaces/app/components/Providers/Providers.tsx
  packages/apps/spaces/app/organizations/page.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationListColumns.tsx
  packages/apps/spaces/components/ui-kit/layouts/page-content-layout/page-content-layout.module.scss
  packages/apps/spaces/components/ui-kit/organisms/side-panel/side-panel-list-item/side-panel-list-item.module.scss
  packages/apps/spaces/ui/form/Button/index.ts
  packages/apps/spaces/ui/form/Checkbox/Checkbox.theme.ts
  packages/apps/spaces/ui/form/Checkbox/index.ts
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
  packages/apps/spaces/ui/overlay/Menu/index.ts
  packages/apps/spaces/ui/presentation/_Table/THead.tsx
  packages/apps/spaces/ui/presentation/_Table/Table.tsx
  packages/apps/spaces/ui/presentation/_Table/index.ts
  packages/apps/spaces/ui/theme/colors.ts
  packages/apps/spaces/ui/theme/shadows.ts
  packages/apps/spaces/ui/theme/theme.ts
Labels: app/spaces

#2733 fix: remove unused code from organizations page
  packages/apps/spaces/app/organizations/page.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationListActions.tsx
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/ui/presentation/_Table/Table.tsx
Labels: app/spaces

#2748 feat: add new root navigation + layout
  packages/apps/spaces/.eslintrc.json
  packages/apps/spaces/app/components/PageLayout/PageLayout.tsx
  packages/apps/spaces/app/components/Sidebar/LogoutSidebarItem.tsx
  packages/apps/spaces/app/components/Sidebar/Sidebar.tsx
  packages/apps/spaces/app/components/Sidebar/SidebarItem.tsx
  packages/apps/spaces/app/organizations/[id]/components/MainSection/MainSection.tsx
  packages/apps/spaces/app/organizations/[id]/components/SideSection/SIdeSection.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/TabsContainer.tsx
  packages/apps/spaces/app/organizations/[id]/layout.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationListActions.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationListColumns.tsx
  packages/apps/spaces/components/ui-kit/layouts/page-content-layout/PageContentLayout.tsx
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
  packages/apps/spaces/ui/presentation/_Table/THead.tsx
  packages/apps/spaces/ui/presentation/_Table/Table.tsx
  packages/apps/spaces/ui/presentation/table/TActions.module.scss
  packages/apps/spaces/ui/presentation/table/TActions.tsx
  packages/apps/spaces/ui/presentation/table/THead.module.scss
  packages/apps/spaces/ui/presentation/table/THead.tsx
  packages/apps/spaces/ui/presentation/table/Table.module.scss
  packages/apps/spaces/ui/presentation/table/Table.tsx
  packages/apps/spaces/ui/presentation/table/index.ts
Labels: app/spaces

#2754 fix: wrong svg prop keys
  packages/apps/spaces/components/ui-kit/layouts/page-content-layout/PageContentLayout.tsx
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
Labels: app/spaces

#2756 fix: import anomaly
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationListColumns.tsx
Labels: app/spaces

#2771 fix: #2770 Fixed request url
  packages/apps/spaces/app/util/getGraphQLClient.ts
Labels: bug, app/spaces

#2773 feat: custom organization page sidenav
  packages/apps/spaces/app/components/PageLayout/PageLayout.tsx
  packages/apps/spaces/app/components/Sidenavs/OrganizationSidenav.tsx
  packages/apps/spaces/app/components/Sidenavs/RootSidenav.tsx
  packages/apps/spaces/app/components/Sidenavs/SidenavItem.tsx
  packages/apps/spaces/app/components/Sidenavs/Sidenavs.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/Panels.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/Tabs.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/TabsHeader.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/index.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/AboutPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/AccountPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/PeoplePanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/SuccessPanel/SuccessPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/UpNextPanel/UpNextPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/index.ts
  packages/apps/spaces/app/organizations/[id]/page.tsx
  packages/apps/spaces/components/finder/finder-table/OrganizationTableCell.tsx
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
Labels: app/spaces

#2779 fix: sidenav item link element without href
  packages/apps/spaces/app/components/Sidenavs/RootSidenav.tsx
  packages/apps/spaces/app/components/Sidenavs/SidenavItem.tsx
  packages/apps/spaces/app/components/Sidenavs/Sidenavs.tsx
  packages/apps/spaces/middleware.ts
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
Labels: app/spaces

#2796 fix: card import
  packages/apps/spaces/pages/auth/signin.tsx
Labels: app/spaces

#2828 Fix #2823 #2824 #2814 #2815 #2816: Bug fixes
  packages/apps/spaces/app/components/RootSidenav/RootSidenav.tsx
  packages/apps/spaces/app/layout.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/OrganizationAbout.dto.ts
  packages/apps/spaces/app/organizations/[id]/components/Timeline/OrganizationTimeline.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailMetaDataEntry.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailStub.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/index.ts
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/NoActivityTimelineElement.tsx
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/TimelineItem.tsx
  packages/apps/spaces/components/ui-kit/organisms/side-panel/SidePanel.tsx
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/pages/settings/index.tsx
  packages/apps/spaces/public/favicon.ico
  packages/apps/spaces/public/logos/customer-os-small.svg
  packages/apps/spaces/utils/getParticipantsName.ts
Labels: bug, app/spaces

#2845 feat: people panel
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/Contact.dto.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/PeoplePanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/util.ts
  packages/apps/spaces/app/organizations/[id]/graphql/addContactEmail.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/addContactEmail.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/addContactPhoneNumber.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/addContactPhoneNumber.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/addContactToOrganization.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/addContactToOrganization.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/createContact.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/createContact.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/deleteContact.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/deleteContact.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/organization.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/organization.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/removeContactEmail.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/removeContactEmail.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/removeContactPhoneNumber.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/removeContactPhoneNumber.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/updateContact.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/updateContact.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/updateContactJobRole.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/updateContactJobRole.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/updateContactPhoneNumber.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/updateContactPhoneNumber.graphql
  packages/apps/spaces/ui/media/Avatar/Avatar.theme.ts
  packages/apps/spaces/ui/media/Avatar/index.ts
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
  packages/apps/spaces/ui/theme/shadows.ts
  packages/apps/spaces/ui/theme/theme.ts
  packages/apps/spaces/ui/transitions/Collapse/index.ts
  packages/apps/spaces/ui/transitions/Fade/index.ts
  packages/apps/spaces/ui/utils/index.ts
Labels: app/spaces

#2881 feat: improve about panel
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/ConfirmDeleteDialog/BackgroundPattern.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/ConfirmDeleteDialog/DeleteDialog.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/ConfirmDeleteDialog/index.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/Contact.dto.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/PeoplePanel.tsx
  packages/apps/spaces/app/organizations/[id]/graphql/organization.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/organization.graphql
  packages/apps/spaces/app/types/__generated__/graphql.types.ts
  packages/apps/spaces/ui/form/Button/Button.theme.ts
  packages/apps/spaces/ui/form/Button/index.ts
  packages/apps/spaces/ui/media/Icon/FeaturedIcon.tsx
  packages/apps/spaces/ui/media/Icon/Icons.tsx
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
  packages/apps/spaces/ui/media/Icon/index.ts
  packages/apps/spaces/ui/overlay/AlertDialog/index.ts
  packages/apps/spaces/ui/theme/theme.ts
  packages/apps/spaces/ui/utils/index.ts
Labels: app/spaces

#2741 New timeline with email events and preview
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/PeoplePanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/OrganizationTimeline.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/TimelineItem/TimelineItem.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailMetaDataEntry.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailStub.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.dto.ts
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/EmailFormMultiCreatableSelect.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/EmailParticipantSelect.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/EmailResponseModeChangeButtons.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/EmailSubjectInput.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ParticipantsInputs.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/utils.ts
  packages/apps/spaces/app/organizations/[id]/graphql/getContactsEmailList.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/getContactsEmailList.graphql
  packages/apps/spaces/components/ui-kit/atoms/file-upload/FileUpload.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/EmailParticipants.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/ui/form/ButtonGroup/index.ts
  packages/apps/spaces/ui/form/SyncSelect/Select.tsx
  packages/apps/spaces/ui/form/SyncSelect/index.ts
  packages/apps/spaces/ui/layout/Card/index.ts
  packages/apps/spaces/utils/getParticipantsName.ts
  packages/apps/spaces/yarn.lock
Labels: app/spaces

#2890 fix: #2820 #2889: Replaced twitter logo and removed suggestions form search bar
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/FormSocialInput/SocialIcons.tsx
  packages/apps/spaces/components/ui-kit/molecules/gCLI/GCLIInput.module.scss
  packages/apps/spaces/components/ui-kit/molecules/gCLI/GCLIInput.tsx
  packages/apps/spaces/public/logos/twitterX.webp
Labels: bug, app/spaces

#2913 fix 2906: Add confirmation modal for deleting organizations
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/ui/presentation/Modal/index.ts
Labels: bug, app/spaces

#2922 fix: #2915 People tab related bug fixes
  packages/apps/spaces/app/organizations/[id]/components/OrganizationSidenav/OrganizationSidenav.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/ConfirmDeleteDialog/BackgroundPattern.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/PeoplePanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/EmailParticipantSelect.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/User.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/EmailParticipants.tsx
  packages/apps/spaces/middleware.ts
  packages/apps/spaces/next.config.js
  packages/apps/spaces/public/backgrounds/organization/circular-bg-pattern.png
  packages/apps/spaces/public/icons/user.svg
  packages/apps/spaces/styles/globals.scss
  packages/apps/spaces/ui/form/Input/FormInput.tsx
  packages/apps/spaces/ui/form/Textarea/AutoresizeTextarea.tsx
  packages/apps/spaces/ui/presentation/Modal/ConfirmDeleteDialog/DeleteDialog.tsx
  packages/apps/spaces/ui/presentation/Modal/ConfirmDeleteDialog/index.ts
Labels: bug, app/spaces
