Repository openline-ai/openline-customer-os, pull requests merged in 2023-06, with the labels that each got.

#2227 fix: #2224 Display location in table fix
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/contact/contact-locations/ContactLocations.tsx
  packages/apps/spaces/components/organization/organization-locations/OrganizationLocations.tsx
  packages/apps/spaces/components/shared/location/Location.tsx
  packages/apps/spaces/components/shared/location/LocationList.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/autocomplete.module.scss
  packages/apps/spaces/components/ui-kit/atoms/ribbon/ribbon.module.scss
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/hooks/useMeeting/useUpdateMeeting.ts
  packages/apps/spaces/pages/contact/[id].tsx
Labels: bug, app/spaces

#2230 fix: #2161 side bar is visible for a second after logout fix
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/pages/contact/[id].tsx
  packages/apps/spaces/pages/contact/index.tsx
  packages/apps/spaces/pages/organization/[id].tsx
  packages/apps/spaces/pages/organization/index.tsx
  packages/apps/spaces/pages/settings/index.tsx
Labels: bug, app/spaces

#2232 fix #2229: Updating primary email of contact & org error fix
  packages/apps/spaces/components/ui-kit/molecules/communication-details/CommunicationDetails.tsx
Labels: bug, app/spaces

#2277 2276 api for portofolio dashboard
  packages/server/customer-os-api/graph/generated/generated.go
  packages/server/customer-os-api/graph/resolver/analysis.resolvers.go
  packages/server/customer-os-api/graph/resolver/dashboard.resolvers.go
  packages/server/customer-os-api/graph/resolver/dashboard.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/query.resolvers.go
  packages/server/customer-os-api/graph/resolver/test_queries/dashboard_view/dashboard_view_no_filters.txt
  packages/server/customer-os-api/graph/resolver/test_queries/dashboard_view/dashboard_view_with_filters.txt
  packages/server/customer-os-api/graph/resolver/test_queries/dashboard_view/organization/dashboard_view_portfolio_no_filters.txt
  packages/server/customer-os-api/graph/schemas/dashboard.graphqls
  packages/server/customer-os-api/graph/schemas/query.graphqls
  packages/server/customer-os-api/repository/query_repository.go
  packages/server/customer-os-api/service/query_service.go
Labels: app/customer-os-api

#2281 2280 api for customers dashboard
  packages/server/customer-os-api/graph/generated/generated.go
  packages/server/customer-os-api/graph/resolver/dashboard.resolvers.go
  packages/server/customer-os-api/graph/resolver/dashboard.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/test_queries/dashboard_view/organization/dashboard_view_by_relationships_no_filters.txt
  packages/server/customer-os-api/graph/schemas/dashboard.graphqls
  packages/server/customer-os-api/repository/dashboard_repository.go
  packages/server/customer-os-api/repository/repositories.go
  packages/server/customer-os-api/service/dashboard_service.go
  packages/server/customer-os-api/service/services.go
Labels: app/customer-os-api

#2231 feat: add new relationship column for organizations table
  packages/apps/spaces/apollo-client.ts
  packages/apps/spaces/components/finder/finder-table/FinderMergeItemTableHeader.tsx
  packages/apps/spaces/components/organization/organization-details/owner/OrganizationOwnerAutocomplete.tsx
  packages/apps/spaces/components/organization/organization-details/relationship/OrganizationRelationship.tsx
  packages/apps/spaces/components/organization/organization-details/relationship/SelectMenuItemIcon.tsx
  packages/apps/spaces/components/organization/organization-details/relationship/organization-relationship.module.scss
  packages/apps/spaces/components/organization/organization-details/relationship/util.ts
  packages/apps/spaces/components/organization/organization-details/stage/RelationshipStage.tsx
  packages/apps/spaces/components/organization/organization-details/stage/SelectMenuItemIcon.tsx
  packages/apps/spaces/components/organization/organization-details/stage/organization-stage.module.scss
  packages/apps/spaces/components/organization/organization-details/stage/util.ts
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/organization/organization-list/columns/OrganizationListColumns.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/new-autocomplete/autocomplete-suggestion-list/AutocompleteSuggestionList.tsx
  packages/apps/spaces/components/ui-kit/atoms/select/Select.tsx
  packages/apps/spaces/components/ui-kit/atoms/select/reducer.ts
  packages/apps/spaces/components/ui-kit/atoms/select/types.ts
  packages/apps/spaces/components/ui-kit/atoms/table/Table.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableHeaderCell.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/table-cells.module.scss
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/finder/dashboardView_Organizations.graphql
  packages/apps/spaces/graphQL/organization/addRelationshipToOrganization.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTableData.graphql
  packages/apps/spaces/graphQL/organization/removeOrganizationRelationship.graphql
  packages/apps/spaces/graphQL/organization/removeStageFromOrganizationRelationship.graphql
  packages/apps/spaces/graphQL/organization/setStageToOrganizationRelationship.graphql
  packages/apps/spaces/hooks/useOrganizationOwner/useLinkOrganizationOwner.ts
  packages/apps/spaces/tsconfig.json
Labels: feature request, app/spaces

#2302 fix #2301 Action column width fix
  packages/apps/spaces/components/organization/organization-list/columns/OrganizationListColumns.tsx
Labels: bug, app/spaces

#2316 refactor: #2309 Unify select
  packages/apps/spaces/components/finder/finder-table/OwnerTableCell.tsx
  packages/apps/spaces/components/organization/organization-details/owner/OrganizationOwner.tsx
  packages/apps/spaces/components/organization/organization-details/owner/OrganizationOwnerAutocomplete.tsx
  packages/apps/spaces/components/organization/organization-details/relationship/OrganizationRelationship.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/ui-kit/atoms/inline-loader/inline-loader.module.scss
  packages/apps/spaces/components/ui-kit/atoms/new-autocomplete/Autocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/new-autocomplete/autocomplete-suggestion-list/AutocompleteSugestion.tsx
  packages/apps/spaces/components/ui-kit/atoms/new-autocomplete/autocomplete-suggestion-list/AutocompleteSuggestionList.tsx
  packages/apps/spaces/components/ui-kit/atoms/new-autocomplete/autocomplete-suggestion-list/index.ts
  packages/apps/spaces/components/ui-kit/atoms/new-autocomplete/autocomplete.module.scss
  packages/apps/spaces/components/ui-kit/atoms/new-autocomplete/index.ts
  packages/apps/spaces/components/ui-kit/atoms/select/Select.tsx
  packages/apps/spaces/components/ui-kit/atoms/select/SelectInput.tsx
  packages/apps/spaces/components/ui-kit/atoms/select/SelectWrapper.tsx
  packages/apps/spaces/components/ui-kit/atoms/select/reducer.ts
  packages/apps/spaces/components/ui-kit/atoms/select/select.module.scss
  packages/apps/spaces/components/ui-kit/atoms/select/types.ts
  packages/apps/spaces/hooks/useOrganizationOwner/useLinkOrganizationOwner.ts
  packages/apps/spaces/hooks/useUser/useUsers.ts
Labels: refactor, app/spaces

#2329 fix #2328: alignment issues and render conditionaly Stage selector
  packages/apps/spaces/components/contact/contact-list/columns/ContactListColumns.tsx
  packages/apps/spaces/components/organization/organization-details/relationship/SelectMenuItemIcon.tsx
  packages/apps/spaces/components/organization/organization-details/stage/RelationshipStage.tsx
  packages/apps/spaces/components/organization/organization-list/columns/OrganizationListColumns.tsx
Labels: app/spaces

#2341 add customers page + prefiltered organizations table
  packages/apps/spaces/components/ui-kit/organisms/side-panel/SidePanel.tsx
  packages/apps/spaces/pages/customers/index.tsx
Labels: app/spaces

#2356 chore: rearrange sidepanel items
  packages/apps/spaces/components/ui-kit/organisms/side-panel/SidePanel.tsx
Labels: app/spaces

#2362 fix #2360: Phone number is not displayed - condition fix
  packages/apps/spaces/components/ui-kit/molecules/communication-details/CommunicationDetails.tsx
Labels: bug, app/spaces

#2361 fix: #2357, #2358, #2359 Bug fixes, external links, table skeleton, edit mode
  packages/apps/spaces/components/organization/organization-details/OrganizationDetails.tsx
  packages/apps/spaces/components/organization/organization-list/columns/OrganizationListColumns.tsx
  packages/apps/spaces/components/shared/page-skeleton/PageSkeleton.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableCell.tsx
  packages/apps/spaces/pages/contact/[id].tsx
  packages/apps/spaces/pages/organization/[id].tsx
Labels: bug, app/spaces

#2380 fix: #2354, #2323, #2379 Location edit and display fixes + url formatting fix
  packages/apps/spaces/components/contact/contact-locations/ContactLocations.tsx
  packages/apps/spaces/components/finder/finder-table/AddressTableCell.tsx
  packages/apps/spaces/components/finder/finder-table/finder-table.module.scss
  packages/apps/spaces/components/organization/organization-locations/OrganizationLocations.tsx
  packages/apps/spaces/components/shared/location/Location.tsx
  packages/apps/spaces/components/shared/location/LocationList.tsx
  packages/apps/spaces/components/ui-kit/atoms/external-link/ExternalLink.tsx
  packages/apps/spaces/components/ui-kit/atoms/select/SelectInput.tsx
  packages/apps/spaces/components/ui-kit/atoms/select/select.module.scss
  packages/apps/spaces/components/ui-kit/atoms/table/skeletons/TableSkeleton.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableCell.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/table-cells.module.scss
  packages/apps/spaces/hooks/useContactLocation/useCreateContactLocation.ts
  packages/apps/spaces/hooks/useOrganizationLocation/useCreateOrganizationLocation.ts
  packages/apps/spaces/hooks/useUpdateLocation/entity.ts
  packages/apps/spaces/hooks/useUpdateLocation/index.ts
  packages/apps/spaces/hooks/useUpdateLocation/useUpdateLocation.ts
  packages/apps/spaces/styles/overwrite.scss
Labels: bug, app/spaces

#2382 refactor: add on blur handler to editable content
  packages/apps/spaces/components/ui-kit/atoms/input/EditableContentInput.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/CommunicationDetails.tsx
Labels: app/spaces

#2388 refactor: #1979 Timeline refactor
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/contact/contact-toolbelt/ContactToolbelt.tsx
  packages/apps/spaces/components/contact/editor/ContactTimelineEditor.tsx
  packages/apps/spaces/components/contact/editor/index.ts
  packages/apps/spaces/components/contact/index.ts
  packages/apps/spaces/components/organization/organization-timeline/OrganizationTimeline.tsx
  packages/apps/spaces/components/organization/organization-toolbelt/OrginizationToolbelt.tsx
  packages/apps/spaces/components/shared/location/location-list.module.scss
  packages/apps/spaces/components/ui-kit/atoms/select/select.module.scss
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/TimelineItem.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/TimelineItemByType.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/context/timelineContext.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/context/useTimeline.ts
  packages/apps/spaces/hooks/useContact/useCreatePhoneCallInteractionEvent.ts
  packages/apps/spaces/hooks/useMeeting/types.ts
  packages/apps/spaces/hooks/useMeeting/useCreateMeetingContact.ts
  packages/apps/spaces/hooks/useMeeting/useCreateMeetingOrganization.ts
  packages/apps/spaces/hooks/useNote/useCreateContactNote.ts
  packages/apps/spaces/hooks/useNote/useCreateOrganizationNote.ts
  packages/apps/spaces/pages/contact/[id].tsx
  packages/apps/spaces/pages/organization/[id].tsx
Labels: bug, app/spaces

#2391 fix: #2350 mutations issues on editable fields
  packages/apps/spaces/components/contact/contact-communication-details/ContactCommunicationDetails.tsx
  packages/apps/spaces/components/ui-kit/atoms/tags/TagList.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/CommunicationDetails.tsx
  packages/apps/spaces/hooks/useContact/useAddContactTag.ts
  packages/apps/spaces/hooks/useContactEmail/useUpdateContactEmail.ts
  packages/apps/spaces/hooks/useContactPhoneNumber/useUpdateContactPhoneNumber.ts
Labels: app/spaces

#2426 chore: #2425 Cleanup commented out code - TimelineItem.tsx
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/TimelineItem.tsx
Labels: app/spaces

#2435 Refactor: Unify autocompletes
  packages/apps/spaces/components/contact/contact-details/ContactPersonalDetails.tsx
  packages/apps/spaces/components/contact/contact-details/edit/JobRoleInput.tsx
  packages/apps/spaces/components/contact/contact-details/edit/job-roles-input.module.scss
  packages/apps/spaces/components/organization/organization-details/owner/OrganizationOwnerAutocomplete.tsx
  packages/apps/spaces/components/organization/organization-details/relationship/OrganizationRelationship.tsx
  packages/apps/spaces/components/organization/organization-details/stage/RelationshipStage.tsx
  packages/apps/spaces/components/organization/organization-details/subsidiaries/OrganizationSubsidiaries.tsx
  packages/apps/spaces/components/organization/organization-details/subsidiaries/OrganizationSubsidiary.tsx
  packages/apps/spaces/components/shared/location/Location.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/autocomplete.module.scss
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/index.ts
  packages/apps/spaces/components/ui-kit/atoms/index.ts
  packages/apps/spaces/components/ui-kit/atoms/select/SelectWrapper.tsx
  packages/apps/spaces/components/ui-kit/atoms/select/index.ts
  packages/apps/spaces/components/ui-kit/atoms/select/select.module.scss
  packages/apps/spaces/components/ui-kit/molecules/gCLI/suggestion-list/SuggestionList.tsx
  packages/apps/spaces/hooks/useContactJobRole/useCreateContactJobRole.ts
  packages/apps/spaces/hooks/useOrganization/useCreateOrganization.ts
  packages/apps/spaces/hooks/useOrganizationSubsidiaries/useAddOrganizationSubsidiary.ts
  packages/apps/spaces/hooks/useOrganizations/useOrganizationSuggestionsList.ts
  packages/apps/spaces/next.config.js
  packages/apps/spaces/tsconfig.json
  packages/apps/spaces/ui/form/select/components/Select.tsx
  packages/apps/spaces/ui/form/select/components/SelectInput.tsx
  packages/apps/spaces/ui/form/select/components/SelectMenu.tsx
  packages/apps/spaces/ui/form/select/components/SelectWrapper.tsx
  packages/apps/spaces/ui/form/select/components/index.ts
  packages/apps/spaces/ui/form/select/components/select.module.scss
  packages/apps/spaces/ui/form/select/context.ts
  packages/apps/spaces/ui/form/select/index.ts
  packages/apps/spaces/ui/form/select/reducer.ts
  packages/apps/spaces/ui/form/select/types.ts
  packages/apps/spaces/ui/form/select/useSelect.ts
Labels: refactor, app/spaces

#2449 feat: add zendesk url link in organization details section
  packages/apps/spaces/components/organization/organization-issues/OrganizationIssues.tsx
  packages/apps/spaces/components/organization/organization-issues/organization-issues.module.scss
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/TimelineItem.tsx
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/issue-timeline-item/IssueTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/TimelineItemByType.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/fragments/common.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTimeline.graphql
  packages/apps/spaces/pages/organization/[id].tsx
Labels: app/spaces

#2476 feat: hide issues if none are available
  packages/apps/spaces/components/organization/organization-issues/OrganizationIssues.tsx
Labels: app/spaces

#2478 fix 2457: Select show all available options on dbl click
  packages/apps/spaces/ui/form/select/components/Select.tsx
  packages/apps/spaces/ui/form/select/reducer.ts
  packages/apps/spaces/ui/form/select/types.ts
Labels: app/spaces

#2482 fix: zendesk url in Organization issues section
  packages/apps/spaces/components/organization/organization-issues/OrganizationIssues.tsx
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/TimelineItem.tsx
  packages/apps/spaces/pages/organization/[id].tsx
  packages/apps/spaces/tsconfig.json
  packages/apps/spaces/utils/getZendeskBaseUrl.ts
Labels: app/spaces

#2509 chore: update zendesk URL to open requested_tickets path
  packages/apps/spaces/components/organization/organization-issues/OrganizationIssues.tsx
Labels: app/spaces

#2510 feat #2447 & #2448: Health indicator in org details and table view
  packages/apps/spaces/components/organization/health-select/HealthIndicatorSelect.tsx
  packages/apps/spaces/components/organization/health-select/select/HealthIndicatorSelectMenu.tsx
  packages/apps/spaces/components/organization/health-select/select/HealthIndicatorToggleButton.tsx
  packages/apps/spaces/components/organization/health-select/select/health-selector.module.scss
  packages/apps/spaces/components/organization/organization-details/OrganizationCustomFields.tsx
  packages/apps/spaces/components/organization/organization-details/OrganizationDetails.tsx
  packages/apps/spaces/components/organization/organization-details/health-indicator/OrganizationHealthIndicator.tsx
  packages/apps/spaces/components/organization/organization-details/health-indicator/health-indicator-owner.module.scss
  packages/apps/spaces/components/organization/organization-details/health-indicator/index.ts
  packages/apps/spaces/components/organization/organization-list/OrganizationListColumns.tsx
  packages/apps/spaces/components/ui-kit/molecules/gCLI/GCLIInput.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/finder/dashboardView_Organizations.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationDetails.graphql
  packages/apps/spaces/graphQL/organization/removeHealthIndicatorOrganization.graphql
  packages/apps/spaces/graphQL/organization/setHealthIndicatorOrganization.graphql
  packages/apps/spaces/graphQL/shared/getHealthIndicators.graphql
  packages/apps/spaces/hooks/useHealthIndicators/index.ts
  packages/apps/spaces/hooks/useHealthIndicators/useHealthIndicators.ts
  packages/apps/spaces/hooks/useHealthIndicators/useSetHealthIndicator.ts
  packages/apps/spaces/mocks/index.ts
  packages/apps/spaces/pages/organization/index.tsx
  packages/apps/spaces/styles/theme.css
  packages/apps/spaces/ui/form/select/components/SelectInput.tsx
  packages/apps/spaces/ui/form/select/components/select.module.scss
  packages/apps/spaces/ui/form/select/components/single-select/SingleSelect.tsx
  packages/apps/spaces/ui/form/select/components/single-select/SingleSelectWrapper.tsx
  packages/apps/spaces/ui/form/select/reducer.ts
Labels: feature request

#2512 fix: #2511 Ux improvements for health indicator
  packages/apps/spaces/components/organization/health-select/select/HealthIndicatorSelectMenu.tsx
  packages/apps/spaces/components/organization/health-select/select/HealthIndicatorToggleButton.tsx
  packages/apps/spaces/components/organization/health-select/select/health-selector.module.scss
Labels: bug

#2513 fix: #2511: Improvements requested after functionality review
  packages/apps/spaces/components/organization/health-select/select/HealthIndicatorToggleButton.tsx
  packages/apps/spaces/components/organization/health-select/select/health-selector.module.scss
Labels: app/spaces

#2532 fix: externalSource namings
  packages/apps/spaces/components/organization/organization-issues/OrganizationIssues.tsx
  packages/apps/spaces/utils/getZendeskBaseUrl.ts
Labels: app/spaces

#2542 feat: make zendesk internal notes readonly
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/organization/getOrganizationTimeline.graphql
Labels: app/spaces

#2551 fix: #2550: Dropdown ux improvements
  packages/apps/spaces/components/organization/health-select/select/health-selector.module.scss
  packages/apps/spaces/ui/form/select/reducer.ts
Labels: app/spaces

#2552 fix: timeline zendesk note label
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
Labels: app/spaces

#2553 fix: #2548 & 2549: Fix sorting and filtering table behaviour
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/hooks/useFinderOrganizationTableData/useFinderOrganizationTableData.ts
Labels: bug, app/spaces

#2559 fix: missing apollo client instance passed as option
  packages/apps/spaces/components/ui-kit/layouts/page-content-layout/PageContentLayout.tsx
  packages/apps/spaces/hooks/useGlobalCache/useGlobalCache.ts
Labels: app/spaces

#2527 feat #2249: Show email validation message
  packages/apps/spaces/components/contact/contact-communication-details/ContactCommunicationDetails.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationListColumns.tsx
  packages/apps/spaces/components/shared/page-skeleton/PageSkeleton.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/CheckCircleFilled.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/index.ts
  packages/apps/spaces/components/ui-kit/atoms/inline-loader/InlineLoader.tsx
  packages/apps/spaces/components/ui-kit/atoms/inline-loader/inline-loader.module.scss
  packages/apps/spaces/components/ui-kit/atoms/input/EditableContentInput.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/CommunicationDetails.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/EmailDetails.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/EmailValidationMessage.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/PhoneNumberDetails.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/useEmailValidation.ts
  packages/apps/spaces/components/ui-kit/molecules/communication-details/utils.ts
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/fragments/common.graphql
  packages/apps/spaces/graphQL/fragments/contact.graphql
  packages/apps/spaces/graphQL/shared/getEmailValidation.graphql
  packages/apps/spaces/hooks/useContactEmail/useUpdateContactEmail.ts
  packages/apps/spaces/hooks/useContactPhoneNumber/useUpdateContactPhoneNumber.ts
  packages/apps/spaces/middleware.ts
  packages/apps/spaces/pages/organization/[id].tsx
  packages/apps/spaces/public/icons/check-circle-filled.svg
  packages/apps/spaces/ui/presentation/table/TActions.module.scss
  packages/apps/spaces/ui/presentation/table/TActions.tsx
  packages/apps/spaces/ui/presentation/table/THead.module.scss
  packages/apps/spaces/ui/presentation/table/THead.tsx
  packages/apps/spaces/ui/presentation/table/Table.module.scss
  packages/apps/spaces/ui/presentation/table/Table.tsx
  packages/apps/spaces/ui/presentation/validation/simple-validation-indicator/SimpleValidationIndicator.tsx
  packages/apps/spaces/ui/presentation/validation/simple-validation-indicator/index.ts
  packages/apps/spaces/ui/presentation/validation/simple-validation-indicator/simple-validation-indicator.module.scss
Labels: feature request, app/spaces

#2594 feat #2253: Add feature to remove locations from contacts and organizations
  packages/apps/spaces/components/contact/contact-locations/ContactLocations.tsx
  packages/apps/spaces/components/organization/organization-locations/OrganizationLocations.tsx
  packages/apps/spaces/components/shared/location/Location.tsx
  packages/apps/spaces/components/shared/location/LocationList.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/contact/removeLocationFromContact.graphql
  packages/apps/spaces/graphQL/organization/removeLocationFromOrganization.graphql
  packages/apps/spaces/hooks/useContact/useGetContact.ts
  packages/apps/spaces/hooks/useContactLocation/useRemoveContactLocation.ts
  packages/apps/spaces/hooks/useOrganizationLocation/index.ts
  packages/apps/spaces/hooks/useOrganizationLocation/useOrganizationLocations.ts
  packages/apps/spaces/hooks/useOrganizationLocation/useRemoveOrganizationLocation.ts
Labels: app/spaces
