Repository openline-ai/openline-customer-os, pull requests merged in 2023-05, with the labels that each got.

#1845 fix: 1840 agenda is not updating properly
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/MeetingTimelineItem.tsx
  packages/apps/spaces/hooks/useMeeting/useCreateMeetingContact.ts
  packages/apps/spaces/pages/contact/[id].tsx
Labels: bug, app/spaces

#1859 fix: 1858 organization options should be lazy loaded
  packages/apps/spaces/components/contact/contact-details/edit/JobRoleInput.tsx
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/contact/editor/ContactEditor.tsx
  packages/apps/spaces/components/contact/editor/email-fields/EmailFields.tsx
  packages/apps/spaces/components/index.ts
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/Autocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/index.ts
  packages/apps/spaces/components/ui-kit/atoms/index.ts
  packages/apps/spaces/components/ui-kit/index.ts
  packages/apps/spaces/components/ui-kit/layouts/main-page-wrapper/MainPageWrapper.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/CommunicationDetails.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/EmailTimelineItemTemp.tsx
  packages/apps/spaces/components/ui-kit/molecules/editor/SocialEditor.tsx
  packages/apps/spaces/components/ui-kit/molecules/editor/components/Mention.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/EmailParticipants.tsx
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/components/meeting-recording/MeetingRecording.tsx
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/components/meeting-recording/meeting-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/settings-integration-item/SettingsIntegrationItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/timeline-toolbelt/TimelineToolbelt.tsx
  packages/apps/spaces/components/ui-kit/organisms/error-page/ErrorPage.tsx
  packages/apps/spaces/components/ui-kit/organisms/side-panel/SidePanel.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline-status/TimelineStatus.tsx
  packages/apps/spaces/hooks/useOrganizations/index.ts
  packages/apps/spaces/hooks/useOrganizations/useOrganizationMentionSuggestionsList.ts
  packages/apps/spaces/hooks/useOrganizations/useOrganizationSuggestionsList.ts
  packages/apps/spaces/pages/500/index.tsx
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/pages/finder/everything/index.tsx
  packages/apps/spaces/pages/settings/index.tsx
  packages/apps/spaces/state/editor.ts
Labels: bug, performance, app/spaces

#1863 fix: #1862 Add blur counterparts to images used in app
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/ui-kit/organisms/error-page/ErrorPage.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline-status/TimelineStatus.tsx
  packages/apps/spaces/package.json
  packages/apps/spaces/pages/404/index.tsx
  packages/apps/spaces/pages/500/index.tsx
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/pages/finder/contact/index.tsx
  packages/apps/spaces/pages/finder/everything/index.tsx
  packages/apps/spaces/pages/login/index.tsx
  packages/apps/spaces/public/backgrounds/blueprint/background-00001-blur.webp
  packages/apps/spaces/public/backgrounds/blueprint/background-00002-blur.webp
  packages/apps/spaces/public/backgrounds/blueprint/background-00003-blur.webp
  packages/apps/spaces/public/backgrounds/blueprint/background-00004-blur.webp
  packages/apps/spaces/public/backgrounds/blueprint/background-00005-blur.webp
  packages/apps/spaces/public/backgrounds/blueprint/background-00006-blur.webp
  packages/apps/spaces/public/backgrounds/blueprint/no-activity-blur.webp
  packages/apps/spaces/public/backgrounds/blueprint/server-error-1-blur.webp
  packages/apps/spaces/public/backgrounds/blueprint/timeline-error-blur.webp
  packages/apps/spaces/styles/overwrite.scss
  packages/apps/spaces/yarn.lock
Labels: bug, performance

#1878 fix: #1877: Removed legacy dependencies
  packages/apps/spaces/graphQL/fragments/common.graphql
  packages/apps/spaces/hooks/useContact/useAddContactEmail.ts
  packages/apps/spaces/hooks/useContact/useContactCommunicationChannelsDetails.ts
  packages/apps/spaces/hooks/useContact/useContactNameFromEmail.ts
  packages/apps/spaces/hooks/useContact/useContactNameFromId.ts
  packages/apps/spaces/hooks/useContact/useContactNameFromPhoneNumber.ts
  packages/apps/spaces/hooks/useContact/useContactPersonalDetails.ts
  packages/apps/spaces/hooks/useContact/useContactPersonalDetailsWithOrganizations.ts
  packages/apps/spaces/hooks/useContact/useContactTags.ts
  packages/apps/spaces/hooks/useContact/useCreatePhoneCallInteractionEvent.ts
  packages/apps/spaces/hooks/useContact/useUpdateContactPersonalDetails.ts
  packages/apps/spaces/hooks/useContactEmail/useAddContactEmail.ts
  packages/apps/spaces/hooks/useContactEmail/useUpdateContactEmail.ts
  packages/apps/spaces/hooks/useContactJobRole/useCreateContactJobRole.ts
  packages/apps/spaces/hooks/useContactList/useContactList.ts
  packages/apps/spaces/hooks/useContactList/useContactMentionSuggestionsList.ts
  packages/apps/spaces/hooks/useContactPhoneNumber/useUpdateContactPhoneNumber.ts
  packages/apps/spaces/hooks/useContactTimeline/useContactTimeline.ts
  packages/apps/spaces/hooks/useFinderContactTableData/useFinderContactTableData.ts
  packages/apps/spaces/hooks/useFinderTableData/useFinderTableData.ts
  packages/apps/spaces/hooks/useMeeting/useCreateMeetingContact.ts
  packages/apps/spaces/hooks/useMeeting/useCreateMeetingOrganization.ts
  packages/apps/spaces/hooks/useMeeting/useLinkMeetingAttachement.ts
  packages/apps/spaces/hooks/useMeeting/useLinkMeetingRecording.ts
  packages/apps/spaces/hooks/useMeeting/useUnlinkMeetingAttachement.ts
  packages/apps/spaces/hooks/useMeeting/useUnlinkMeetingAttendees.ts
  packages/apps/spaces/hooks/useMeeting/useUnlinkMeetingRecording.ts
  packages/apps/spaces/hooks/useNote/useContactNotes.ts
  packages/apps/spaces/hooks/useNote/useCreateContactNote.ts
  packages/apps/spaces/hooks/useNote/useCreateOrganizationNote.ts
  packages/apps/spaces/hooks/useOrganization/useCreateOrganization.ts
  packages/apps/spaces/hooks/useOrganization/useOrganizationCommunicationChannelsDetails.ts
  packages/apps/spaces/hooks/useOrganization/useOrganizationContacts.ts
  packages/apps/spaces/hooks/useOrganization/useOrganizationDetails.ts
  packages/apps/spaces/hooks/useOrganization/useOrganizationName.ts
  packages/apps/spaces/hooks/useOrganizationDetails/useUpdateOrganizationDescription.ts
  packages/apps/spaces/hooks/useOrganizationDetails/useUpdateOrganizationIndustry.ts
  packages/apps/spaces/hooks/useOrganizationDetails/useUpdateOrganizationName.ts
  packages/apps/spaces/hooks/useOrganizationDetails/useUpdateOrganizationWebsite.ts
  packages/apps/spaces/hooks/useOrganizationEmail/useAddOrganizationEmail.ts
  packages/apps/spaces/hooks/useOrganizationEmail/useUpdateOrganizationEmail.ts
  packages/apps/spaces/hooks/useOrganizationPhoneNumber/useCreateOrganizationPhoneNumber.ts
  packages/apps/spaces/hooks/useOrganizationPhoneNumber/useUpdateOrganizationPhoneNumber.ts
  packages/apps/spaces/hooks/useOrganizationTimeline/useOrganizationTimeline.ts
  packages/apps/spaces/hooks/useOrganizations/useOrganizationSuggestionsList.ts
  packages/apps/spaces/hooks/useOrganizations/useOrganizationsOptions.ts
  packages/apps/spaces/hooks/useTags/useTags.ts
  packages/apps/spaces/hooks/useTenant/useTenantName.ts
  packages/apps/spaces/hooks/useUser/useUser.ts
  packages/apps/spaces/hooks/useUser/useUsers.ts
  packages/apps/spaces/package.json
  packages/apps/spaces/yarn.lock
Labels: bug, performance, app/spaces

#1901 fix: #1898: Performance improvements (lighthouse)
  packages/apps/spaces/components/ui-kit/layouts/main-page-wrapper/MainPageWrapper.tsx
  packages/apps/spaces/next.config.js
  packages/apps/spaces/pages/404/index.tsx
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/pages/contact/[id].tsx
  packages/apps/spaces/pages/finder/contact/index.tsx
  packages/apps/spaces/pages/finder/everything/index.tsx
  packages/apps/spaces/pages/organization/[id].tsx
  packages/apps/spaces/styles/globals.css
Labels: bug, performance, app/spaces

#1912 fix: #1911 Fixed styles regression in Tag input and DebouncedAutocomplete
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/tags/TagInput.tsx
  packages/apps/spaces/components/ui-kit/atoms/tags/tags.module.scss
  packages/apps/spaces/styles/overwrite.scss
Labels: bug, app/spaces

#1947 feat #1946: Added information about timeline item event source
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/TimelineItem.tsx
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/EmailTimelineItemTemp.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/PhoneConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/live-event-timeline-item/LiveEventTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/MeetingTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/contact/getContactTimeline.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTimeline.graphql
  packages/apps/spaces/pages/login/index.tsx
  packages/apps/spaces/public/logos/openline_small.svg
Labels: feature request, app/spaces

#1963 fix: #1961 & #1962 Reduced organization page bundle size + added proper aria labels for icon buttons
  packages/apps/spaces/components/contact/contact-details/ContactDetails.tsx
  packages/apps/spaces/components/contact/contact-details/ContactPersonalDetails.tsx
  packages/apps/spaces/components/finder/finder-table/ActionTableHeader.tsx
  packages/apps/spaces/components/finder/finder-table/FinderMergeItemTableHeader.tsx
  packages/apps/spaces/components/organization/editor/OrganizationEditor.tsx
  packages/apps/spaces/components/organization/editor/index.ts
  packages/apps/spaces/components/organization/editor/types.ts
  packages/apps/spaces/components/organization/index.ts
  packages/apps/spaces/components/organization/organization-details/OrganizationDetails.tsx
  packages/apps/spaces/components/organization/organization-details/skeletons/OrganizationCommunicationDetailsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-details/skeletons/OrganizationDetailsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-timeline/skeletons/OrganizationTimelineSkeleton.tsx
  packages/apps/spaces/components/organization/organization-toolbelt/OrginizationToolbelt.tsx
  packages/apps/spaces/components/ui-kit/atoms/icon-button/AddIconButton.tsx
  packages/apps/spaces/components/ui-kit/atoms/icon-button/DeleteIconButton.tsx
  packages/apps/spaces/components/ui-kit/atoms/icon-button/IconButton.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/Message.tsx
  packages/apps/spaces/components/ui-kit/layouts/details-page-layout/DetailsPageLayout.tsx
  packages/apps/spaces/components/ui-kit/molecules/editor/DebouncedEditor.tsx
  packages/apps/spaces/components/ui-kit/molecules/editor/components/UploadImageButton.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/EmailParticipants.tsx
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/components/AttendeeAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/components/PreviewAttendees.tsx
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/components/meeting-recording/MeetingRecording.tsx
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/webRTC/WebRTCCallProgress.tsx
  packages/apps/spaces/components/ui-kit/molecules/webRTC/WebRTCInboundNotification.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/next.config.js
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/pages/organization/[id].tsx
  packages/apps/spaces/styles/mixins.scss
Labels: bug, performance, app/spaces

#1967 fix: #1943 Note attachements
  packages/apps/spaces/apollo-client.ts
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/file-upload/FileTemplate.tsx
  packages/apps/spaces/components/ui-kit/atoms/file-upload/file-upload.module.scss
  packages/apps/spaces/components/ui-kit/atoms/icons/Image.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/Paperclip.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/index.ts
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/TimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/contact-avatar/ContactAvatar.tsx
  packages/apps/spaces/components/ui-kit/molecules/editor/SocialEditor.tsx
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/components/AttendeeAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/molecules/meeting-timeline-item/components/meeting-recording/MeetingRecording.tsx
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/note.module.scss
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/contact/getContactTimeline.graphql
  packages/apps/spaces/graphQL/fragments/common.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTimeline.graphql
  packages/apps/spaces/graphQL/shared/createMeeting.graphql
  packages/apps/spaces/graphQL/shared/noteLinkAttachment.graphql
  packages/apps/spaces/graphQL/shared/noteUnlinkAttachment.graphql
  packages/apps/spaces/hooks/useContactTimeline/types.ts
  packages/apps/spaces/hooks/useContactTimeline/useContactTimeline.ts
  packages/apps/spaces/hooks/useFileUpload/index.ts
  packages/apps/spaces/hooks/useMeeting/useCreateMeetingContact.ts
  packages/apps/spaces/hooks/useMeeting/useLinkMeetingAttachement.ts
  packages/apps/spaces/hooks/useNote/index.ts
  packages/apps/spaces/hooks/useNote/types.ts
  packages/apps/spaces/hooks/useNote/useCreateContactNote.ts
  packages/apps/spaces/hooks/useNote/useLinkNoteAttachement.ts
  packages/apps/spaces/hooks/useNote/useUnlinkNoteAttachement.ts
  packages/apps/spaces/next.config.js
  packages/apps/spaces/public/icons/image.svg
  packages/apps/spaces/public/icons/paperclip.svg
  packages/apps/spaces/styles/overwrite.scss
  packages/apps/spaces/utils/getUniqueReferenceArray.ts
Labels: bug, app/spaces

#1989 feat: 1988 Query source for 'PageView' and 'Issue' timeline events
  packages/apps/spaces/components/finder/finder-table/FinderTableCell.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/contact/getContactTimeline.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTimeline.graphql
Labels: app/spaces

#2011 fix: 1750: Use lazy query for getting contact name from variable source
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/CallParties.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ConversationParty.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/fragments/common.graphql
  packages/apps/spaces/hooks/useContact/types.ts
  packages/apps/spaces/hooks/useContact/useContactNameLazy.ts
  packages/apps/spaces/hooks/useContact/useCreatePhoneCallInteractionEvent.ts
Labels: bug, app/spaces

#2009 feat: #2008 Add and remove organization subsidiaries
  packages/apps/spaces/components/finder/finder-table/AddressTableCell.tsx
  packages/apps/spaces/components/organization/organization-details/OrganizationDetails.tsx
  packages/apps/spaces/components/organization/organization-details/skeletons/OrganizationCommunicationDetailsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-details/skeletons/OrganizationDetailsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-details/subsidiaries/OrganizationSubsidiaries.tsx
  packages/apps/spaces/components/organization/organization-details/subsidiaries/OrganizationSubsidiary.tsx
  packages/apps/spaces/components/organization/organization-details/subsidiaries/index.ts
  packages/apps/spaces/components/organization/organization-details/subsidiaries/organization-subsidiaries.module.scss
  packages/apps/spaces/components/organization/organization-details/subsidiaries/skeletons/OrganizationSubsidiariesSkeleton.tsx
  packages/apps/spaces/components/organization/organization-details/subsidiaries/skeletons/index.ts
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/input/DebouncedTextArea.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/CommunicationDetails.tsx
  packages/apps/spaces/components/ui-kit/molecules/communication-details/communication-details.module.scss
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/organization/addSubsidiary.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationSubsidiaries.graphql
  packages/apps/spaces/graphQL/organization/removeSubsidiary.graphql
  packages/apps/spaces/hooks/useOrganization/useCreateOrganization.ts
  packages/apps/spaces/hooks/useOrganizationSubsidiaries/index.ts
  packages/apps/spaces/hooks/useOrganizationSubsidiaries/types.ts
  packages/apps/spaces/hooks/useOrganizationSubsidiaries/useAddOrganizationSubsidiary.ts
  packages/apps/spaces/hooks/useOrganizationSubsidiaries/useOrganizationSubsidiaries.ts
  packages/apps/spaces/hooks/useOrganizationSubsidiaries/useRemoveOrganizationSubsidiary.ts
  packages/apps/spaces/hooks/useOrganizations/useOrganizationSuggestionsList.ts
  packages/apps/spaces/public/logos/openline.svg
  packages/apps/spaces/public/logos/ory-small.svg
  packages/apps/spaces/styles/overwrite.scss
Labels: feature request, app/spaces

#2035 chore: #2031 Upgrade nextjs version
  packages/apps/spaces/package.json
  packages/apps/spaces/yarn.lock
Labels: app/spaces

#2004 feat #2003: Created organization finder table
  packages/apps/spaces/components/contact/contact-list/ContactListColumns.tsx
  packages/apps/spaces/components/finder/finder-table/ActionTableHeader.tsx
  packages/apps/spaces/components/finder/finder-table/AddressTableCell.tsx
  packages/apps/spaces/components/finder/finder-table/ContactTableCell.tsx
  packages/apps/spaces/components/finder/finder-table/FinderMergeItemTableHeader.tsx
  packages/apps/spaces/components/finder/finder-table/OrganizationTableCell.tsx
  packages/apps/spaces/components/finder/finder-table/finder-table.module.scss
  packages/apps/spaces/components/organization/organization-details/skeletons/OrganizationCommunicationDetailsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-details/skeletons/OrganizationDetailsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-details/subsidiaries/OrganizationSubsidiary.tsx
  packages/apps/spaces/components/organization/organization-details/subsidiaries/organization-subsidiaries.module.scss
  packages/apps/spaces/components/organization/organization-list/OrganizationListColumns.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/utils.ts
  packages/apps/spaces/components/ui-kit/atoms/checkbox/Checkbox.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/Sort.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/Table.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableCell.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableHeaderCell.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/table-cells.module.scss
  packages/apps/spaces/components/ui-kit/atoms/table/table.module.scss
  packages/apps/spaces/components/ui-kit/atoms/table/types.ts
  packages/apps/spaces/components/ui-kit/organisms/side-panel/SidePanel.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/organization/addSubsidiary.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTableData.graphql
  packages/apps/spaces/graphQL/organization/removeSubsidiary.graphql
  packages/apps/spaces/hooks/useContact/useContactNameFromId.ts
  packages/apps/spaces/hooks/useMeeting/useLinkMeetingRecording.ts
  packages/apps/spaces/hooks/useOrganizationSubsidiaries/useOrganizationSubsidiaries.ts
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/public/icons/sort.svg
  packages/apps/spaces/state/finderEverythingTable.ts
  packages/apps/spaces/state/finderOrganizationTable.ts
  packages/apps/spaces/styles/mixins.scss
  packages/apps/spaces/styles/theme.css
Labels: feature request, app/spaces

#2047 fix: #2037 Use lazy query to get contact name if contact name is not …
  packages/apps/spaces/components/contact/contact-details/ContactPersonalDetails.tsx
  packages/apps/spaces/components/contact/contact-list/ContactListColumns.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationListColumns.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableCell.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/table-cells.module.scss
  packages/apps/spaces/components/ui-kit/molecules/contact-avatar/ContactAvatar.tsx
  packages/apps/spaces/hooks/useContact/useContactNameFromId.ts
Labels: bug, app/spaces

#2066 fix: #2064 Merge items fixes
  packages/apps/spaces/components/contact/contact-list/ContactList.tsx
  packages/apps/spaces/components/contact/contact-list/columns/ContactActionColumn.tsx
  packages/apps/spaces/components/contact/contact-list/columns/ContactListColumns.tsx
  packages/apps/spaces/components/contact/contact-list/columns/index.ts
  packages/apps/spaces/components/contact/contact-list/contact-list.module.scss
  packages/apps/spaces/components/finder/finder-table/ActionTableHeader.tsx
  packages/apps/spaces/components/finder/finder-table/ContactTableCell.tsx
  packages/apps/spaces/components/finder/finder-table/FinderMergeItemTableHeader.tsx
  packages/apps/spaces/components/finder/finder-table/FinderTableCell.tsx
  packages/apps/spaces/components/finder/finder-table/OrganizationTableCell.tsx
  packages/apps/spaces/components/finder/finder-table/finder-table.module.scss
  packages/apps/spaces/components/finder/state.ts
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationListColumns.tsx
  packages/apps/spaces/components/organization/organization-list/columns/OrganizationActionColumn.tsx
  packages/apps/spaces/components/organization/organization-list/columns/OrganizationListColumns.tsx
  packages/apps/spaces/components/organization/organization-list/columns/index.ts
  packages/apps/spaces/components/organization/organization-list/organization-list.module.scss
  packages/apps/spaces/components/ui-kit/atoms/table/Table.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableCell.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/table-cells.module.scss
  packages/apps/spaces/hooks/useContact/useMergeContacts.ts
  packages/apps/spaces/hooks/useOrganization/useMergeOrganizations.ts
  packages/apps/spaces/styles/overwrite.scss
Labels: bug

#2081 2034 routes loading screens
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/contact/contact-list/ContactList.tsx
  packages/apps/spaces/components/contact/skeletons/ContactProfileSkeleton.tsx
  packages/apps/spaces/components/contact/skeletons/index.ts
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/organization/organization-timeline/OrganizationTimeline.tsx
  packages/apps/spaces/components/organization/organization-timeline/skeletons/OrganizationTimelineSkeleton.tsx
  packages/apps/spaces/components/organization/organization-timeline/skeletons/index.ts
  packages/apps/spaces/components/organization/skeletons/OrganizationProfileSkeleton.tsx
  packages/apps/spaces/components/organization/skeletons/index.ts
  packages/apps/spaces/components/shared/page-skeleton/PageSkeleton.tsx
  packages/apps/spaces/components/ui-kit/atoms/loader/Loader.tsx
  packages/apps/spaces/components/ui-kit/atoms/loader/index.ts
  packages/apps/spaces/components/ui-kit/atoms/loader/loader.module.scss
  packages/apps/spaces/components/ui-kit/atoms/skeleton/Skeleton.tsx
  packages/apps/spaces/components/ui-kit/atoms/skeleton/skeleton.module.scss
  packages/apps/spaces/components/ui-kit/atoms/table/Table.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/index.ts
  packages/apps/spaces/components/ui-kit/atoms/table/skeletons/TableContentSkeleton.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/skeletons/TableSkeleton.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/skeletons/index.ts
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/NoActivityTimelineElement.tsx
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/TimelineItem.tsx
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/index.ts
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/skeletons/TimelineItemSkeleton.tsx
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/skeletons/index.ts
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/layouts/details-page-layout/DetailsPageLayout.tsx
  packages/apps/spaces/components/ui-kit/layouts/page-content-layout/PageContentLayout.tsx
  packages/apps/spaces/components/ui-kit/layouts/page-content-layout/page-content-layout.module.scss
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/organisms/side-panel/SidePanel.tsx
  packages/apps/spaces/components/ui-kit/organisms/side-panel/side-panel-list-item/SidePanelListItem.tsx
  packages/apps/spaces/components/ui-kit/organisms/side-panel/side-panel-list-item/side-panel-list-item.module.scss
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/index.ts
  packages/apps/spaces/components/ui-kit/organisms/timeline/skeletons/TimelineSkeleton.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/skeletons/index.ts
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline.module.scss
  packages/apps/spaces/components/ui-kit/organisms/timeline/useInfiniteScroll.ts
  packages/apps/spaces/package.json
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/pages/contact/contact.module.scss
  packages/apps/spaces/pages/contact/index.tsx
  packages/apps/spaces/pages/organization/[id].tsx
  packages/apps/spaces/pages/organization/index.tsx
  packages/apps/spaces/pages/organization/organization.module.scss
  packages/apps/spaces/styles/normalization.scss
  packages/apps/spaces/yarn.lock
Labels: feature request, performance, app/spaces

#2082 fix: #1928 Moved contact & organization create action to client side
  packages/apps/spaces/components/contact/contact-list/columns/ContactActionColumn.tsx
  packages/apps/spaces/components/organization/organization-list/columns/OrganizationActionColumn.tsx
  packages/apps/spaces/hooks/useContact/useCreateContact.ts
  packages/apps/spaces/hooks/useOrganization/useCreateOrganization.ts
  packages/apps/spaces/pages/contact/[id].tsx
  packages/apps/spaces/pages/organization/[id].tsx
Labels: performance, app/spaces

#2092 feat: #2091 Added ability to sort finder tables
  packages/apps/spaces/components/contact/contact-list/ContactList.tsx
  packages/apps/spaces/components/contact/contact-list/columns/ContactListColumns.tsx
  packages/apps/spaces/components/finder/finder-table/EmailTableCell.tsx
  packages/apps/spaces/components/finder/finder-table/FinderMergeItemTableHeader.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/organization/organization-list/columns/OrganizationListColumns.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/SortableCell.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableHeaderCell.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/table-cells.module.scss
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/finder/finderContactList.graphql
  packages/apps/spaces/graphQL/finder/finderOrganizationList.graphql
  packages/apps/spaces/hooks/useFinderContactTableData/useFinderContactTableData.ts
  packages/apps/spaces/hooks/useFinderOrganizationTableData/useFinderOrganizationTableData.ts
  packages/apps/spaces/hooks/useMeeting/useLinkMeetingAttendees.ts
  packages/apps/spaces/hooks/useMeeting/useUnlinkMeetingAttendees.ts
  packages/apps/spaces/hooks/useNote/useContactNotes.ts
  packages/apps/spaces/pages/_app.tsx
  packages/apps/spaces/state/finderTables.ts
Labels: feature request, app/spaces

#2095 fix: #2094 Create organization from autocomplete fix
  packages/apps/spaces/components/organization/organization-list/columns/OrganizationActionColumn.tsx
  packages/apps/spaces/hooks/useOrganization/useCreateOrganization.ts
Labels: bug, app/spaces

#2105 feat: 2102 Added 3rd sort mode 'unsorted'.
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/SortableCell.tsx
  packages/apps/spaces/state/finderTables.ts
Labels: app/spaces

#2106 fix: 2103 Fix redirection after archiving contact
  packages/apps/spaces/hooks/useContact/useArchiveContact.ts
Labels: app/spaces

#2112 fix: #2111 Do not enter edit mode by default when name does not exist (profile pages)
  packages/apps/spaces/pages/contact/[id].tsx
  packages/apps/spaces/pages/organization/[id].tsx
Labels: bug, app/spaces

#2101 [spaces] Add & edit location (contact & organization)
  packages/apps/spaces/components/contact/contact-locations/ContactLocations.tsx
  packages/apps/spaces/components/contact/contact-locations/index.ts
  packages/apps/spaces/components/finder/finder-table/AddressTableCell.tsx
  packages/apps/spaces/components/organization/organization-details/skeletons/OrganizationDetailsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-locations/OrganizationLocations.tsx
  packages/apps/spaces/components/organization/organization-locations/index.ts
  packages/apps/spaces/components/organization/skeletons/OrganizationProfileSkeleton.tsx
  packages/apps/spaces/components/shared/location/Location.tsx
  packages/apps/spaces/components/shared/location/LocationList.tsx
  packages/apps/spaces/components/shared/location/index.ts
  packages/apps/spaces/components/shared/location/location-list.module.scss
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/DebouncedAutocomplete.tsx
  packages/apps/spaces/components/ui-kit/atoms/autocomplete/autocomplete.module.scss
  packages/apps/spaces/components/ui-kit/atoms/icon-button/AddIconButton.tsx
  packages/apps/spaces/components/ui-kit/atoms/table/table-cells/TableCell.tsx
  packages/apps/spaces/components/ui-kit/molecules/gCLI/GCLIInput.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/contact/addLocationToContact.graphql
  packages/apps/spaces/graphQL/contact/getContactLocations.graphql
  packages/apps/spaces/graphQL/finder/finderContactList.graphql
  packages/apps/spaces/graphQL/fragments/organization.graphql
  packages/apps/spaces/graphQL/organization/addLocationToOrganization.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationLocations.graphql
  packages/apps/spaces/graphQL/shared/updateLocation.graphql
  packages/apps/spaces/hooks/useContactLocation/index.ts
  packages/apps/spaces/hooks/useContactLocation/types.ts
  packages/apps/spaces/hooks/useContactLocation/useContactLocations.ts
  packages/apps/spaces/hooks/useContactLocation/useCreateContactLocation.ts
  packages/apps/spaces/hooks/useOrganizationLocation/index.ts
  packages/apps/spaces/hooks/useOrganizationLocation/types.ts
  packages/apps/spaces/hooks/useOrganizationLocation/useCreateOrganizationLocation.ts
  packages/apps/spaces/hooks/useOrganizationLocation/useOrganizationLocations.ts
  packages/apps/spaces/hooks/useUpdateLocation/index.ts
  packages/apps/spaces/hooks/useUpdateLocation/types.ts
  packages/apps/spaces/hooks/useUpdateLocation/useUpdateLocation.ts
  packages/apps/spaces/pages/contact/[id].tsx
  packages/apps/spaces/pages/organization/[id].tsx
Labels: feature request, app/spaces

#2151 set primary flags to false on merge contacts / orgs
  packages/server/customer-os-api/repository/contact_repository.go
  packages/server/customer-os-api/repository/organization_repository.go
Labels: app/customer-os-api
