Repository openline-ai/openline-customer-os, pull requests merged in 2023-03, with the labels that each got.

#1259 feat: #1061 & #1255 Add june and clarity scripts
  packages/apps/spaces/pages/_app.tsx
Labels: app/spaces

#1279 Get contact notes as actions
  migration/19_add_action_to_contact_note_node.cypher
  migration/executed/17_add_action_to_ticket_node.cypher
  migration/executed/18_add_action_to_conversation_node.cypher
  packages/runner/sync-customer-os-data/repository/note_repository.go
  packages/server/customer-os-api/entity/action_interface.go
  packages/server/customer-os-api/entity/note.go
  packages/server/customer-os-api/graph/generated/generated.go
  packages/server/customer-os-api/graph/model/models_gen.go
  packages/server/customer-os-api/graph/resolver/contact.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/note.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/test_queries/contact/get_contact_with_all_actions.txt
  packages/server/customer-os-api/graph/schemas/action.graphqls
  packages/server/customer-os-api/mapper/actions_mapper.go
  packages/server/customer-os-api/repository/action_repository.go
  packages/server/customer-os-api/repository/note_repository.go
  packages/server/customer-os-api/service/actions_service.go
  packages/server/customer-os-api/service/note_service.go
  packages/server/customer-os-api/test/neo4j/neo4j_data_helper.go
Labels: app/customer-os-api, app/sync-customer-os-data

#1283 Paginated timeline API
  migration/executed/19_add_action_to_contact_note_node.cypher
  packages/server/customer-os-api/entity/action_interface.go
  packages/server/customer-os-api/entity/conversation.go
  packages/server/customer-os-api/entity/interaction_session.go
  packages/server/customer-os-api/entity/note.go
  packages/server/customer-os-api/entity/page_view.go
  packages/server/customer-os-api/entity/ticket.go
  packages/server/customer-os-api/entity/timeline_event_interface.go
  packages/server/customer-os-api/graph/generated/generated.go
  packages/server/customer-os-api/graph/model/models_gen.go
  packages/server/customer-os-api/graph/resolver/contact.resolvers.go
  packages/server/customer-os-api/graph/resolver/contact.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/test_queries/contact/get_contact_with_timeline_events.txt
  packages/server/customer-os-api/graph/resolver/test_queries/contact/get_contact_with_timeline_filter_by_timeline_event_type.txt
  packages/server/customer-os-api/graph/schemas/action.graphqls
  packages/server/customer-os-api/graph/schemas/contact.graphqls
  packages/server/customer-os-api/graph/schemas/page_view.graphqls
  packages/server/customer-os-api/graph/schemas/timeline_event.graphqls
  packages/server/customer-os-api/mapper/page_view_mapper.go
  packages/server/customer-os-api/mapper/timeline_event_mapper.go
  packages/server/customer-os-api/repository/repositories.go
  packages/server/customer-os-api/repository/timeline_event_repository.go
  packages/server/customer-os-api/service/actions_service.go
  packages/server/customer-os-api/service/page_view_service.go
  packages/server/customer-os-api/service/services.go
  packages/server/customer-os-api/service/timeline_event_service.go
Labels: app/customer-os-api

#1289 fix: #1235: Fixed details page content overflowing (#1277)
  packages/apps/spaces/components/organization/organization-contacts/organization-contacts.module.scss
  packages/apps/spaces/components/organization/organization-details/organization-details.module.scss
  packages/apps/spaces/components/ui-kit/layouts/details-page-layout/details-page-layout.module.scss
  packages/apps/spaces/components/ui-kit/molecules/editor/Editor.tsx
  packages/apps/spaces/pages/organization/[id].tsx
  packages/apps/spaces/pages/organization/organization.module.scss
Labels: app/spaces

#1290 feat: #1265 Add / edit / delete note for organization
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/contact/editor/ContactEditor.tsx
  packages/apps/spaces/components/contact/editor/ContactNoteModalTemplate.tsx
  packages/apps/spaces/components/organization/editor/OrganizationEditor.tsx
  packages/apps/spaces/components/organization/organization-details/edit/OrganizationEdit.tsx
  packages/apps/spaces/components/organization/organization-timeline/OrganizationTimeline.tsx
  packages/apps/spaces/components/ui-kit/molecules/editor/Editor.tsx
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/rich-text-header/RichTextHeader.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/organization/getOrganizationNotes.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTimeline.graphql
  packages/apps/spaces/graphQL/shared/removeNote.graphql
  packages/apps/spaces/graphQL/shared/updateNote.graphql
  packages/apps/spaces/hooks/useContact/index.ts
  packages/apps/spaces/hooks/useContact/useDeleteContactEmail.ts
  packages/apps/spaces/hooks/useContactEmail/useDeleteContactEmail.ts
  packages/apps/spaces/hooks/useContactNote/index.ts
  packages/apps/spaces/hooks/useContactNote/useDeleteNote.ts
  packages/apps/spaces/hooks/useContactNote/useUpdateContactNote.ts
  packages/apps/spaces/hooks/useNote/index.ts
  packages/apps/spaces/hooks/useNote/types.ts
  packages/apps/spaces/hooks/useNote/useContactNotes.ts
  packages/apps/spaces/hooks/useNote/useCreateContactNote.ts
  packages/apps/spaces/hooks/useNote/useCreateOrganizationNote.ts
  packages/apps/spaces/hooks/useNote/useDeleteNote.ts
  packages/apps/spaces/hooks/useNote/useUpdateNote.ts
Labels: app/spaces

#1292 1284 timeline api for organization
  migration/20_add_action_to_org_note_node.cypher
  packages/runner/sync-customer-os-data/repository/note_repository.go
  packages/server/customer-os-api/graph/generated/generated.go
  packages/server/customer-os-api/graph/model/models_gen.go
  packages/server/customer-os-api/graph/resolver/contact.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/note.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/organization.resolvers.go
  packages/server/customer-os-api/graph/resolver/organization.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/test_queries/organization/get_organization_with_timeline_events_direct_and_via_contacts.txt
  packages/server/customer-os-api/graph/schemas/organization.graphqls
  packages/server/customer-os-api/graph/schemas/page_view.graphqls
  packages/server/customer-os-api/repository/note_repository.go
  packages/server/customer-os-api/repository/timeline_event_repository.go
  packages/server/customer-os-api/service/timeline_event_service.go
  packages/server/customer-os-api/test/neo4j/neo4j_data_helper.go
Labels: app/customer-os-api, app/sync-customer-os-data

#1300 Get timeline events total count APIs
  packages/server/customer-os-api/graph/generated/generated.go
  packages/server/customer-os-api/graph/model/models_gen.go
  packages/server/customer-os-api/graph/resolver/contact.resolvers.go
  packages/server/customer-os-api/graph/resolver/contact.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/organization.resolvers.go
  packages/server/customer-os-api/graph/resolver/organization.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/test_queries/contact/get_contact_with_timeline_events_total_count.txt
  packages/server/customer-os-api/graph/resolver/test_queries/organization/get_organization_with_timeline_events_total_count.txt
  packages/server/customer-os-api/graph/schemas/contact.graphqls
  packages/server/customer-os-api/graph/schemas/organization.graphqls
  packages/server/customer-os-api/repository/timeline_event_repository.go
  packages/server/customer-os-api/service/timeline_event_service.go
Labels: app/customer-os-api

#1304 Add interaction events in timeline API
  packages/server/customer-os-api/entity/interaction_event.go
  packages/server/customer-os-api/entity/timeline_event_interface.go
  packages/server/customer-os-api/graph/generated/generated.go
  packages/server/customer-os-api/graph/model/models_gen.go
  packages/server/customer-os-api/graph/resolver/contact.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/organization.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/test_queries/contact/get_contact_with_timeline_events.txt
  packages/server/customer-os-api/graph/resolver/test_queries/organization/get_organization_with_timeline_events_direct_and_via_contacts.txt
  packages/server/customer-os-api/graph/schemas/interaction_event.graphqls
  packages/server/customer-os-api/graph/schemas/timeline_event.graphqls
  packages/server/customer-os-api/mapper/interaction_event_mapper.go
  packages/server/customer-os-api/mapper/timeline_event_mapper.go
  packages/server/customer-os-api/repository/timeline_event_repository.go
  packages/server/customer-os-api/service/interaction_event_service.go
  packages/server/customer-os-api/service/timeline_event_service.go
  packages/server/customer-os-api/test/neo4j/neo4j_data_helper.go
Labels: app/customer-os-api

#1309 fix: #1308: Fix dashboard query condition
  packages/apps/spaces/components/ui-kit/atoms/table/Table.tsx
Labels: bug, app/spaces

#1318 Fetch emails for organization(s)
  packages/server/customer-os-api/dataloader/dataloader.go
  packages/server/customer-os-api/dataloader/email_dataloader.go
  packages/server/customer-os-api/dataloader/tag_dataloader.go
  packages/server/customer-os-api/graph/generated/generated.go
  packages/server/customer-os-api/graph/model/models_gen.go
  packages/server/customer-os-api/graph/resolver/organization.resolvers.go
  packages/server/customer-os-api/graph/resolver/organization.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/test_queries/organization/get_organization_with_emails.txt
  packages/server/customer-os-api/graph/resolver/ticket.resolvers.go
  packages/server/customer-os-api/graph/schemas/organization.graphqls
Labels: app/customer-os-api

#1322 Fetch interaction session for interaction event with dataloaders
  packages/server/customer-os-api/dataloader/dataloader.go
  packages/server/customer-os-api/dataloader/interaction_event_dataloader.go
  packages/server/customer-os-api/dataloader/interaction_session_dataloader.go
  packages/server/customer-os-api/entity/interaction_session.go
  packages/server/customer-os-api/graph/generated/generated.go
  packages/server/customer-os-api/graph/model/models_gen.go
  packages/server/customer-os-api/graph/resolver/interaction_event.resolvers.go
  packages/server/customer-os-api/graph/resolver/interaction_event.resolvers_it_test.go
  packages/server/customer-os-api/graph/resolver/test_queries/interaction_event/get_interaction_events_with_session_in_timeline_event.txt
  packages/server/customer-os-api/graph/schemas/interaction_event.graphqls
  packages/server/customer-os-api/mapper/interaction_session_mapper.go
  packages/server/customer-os-api/repository/interaction_session_repository.go
  packages/server/customer-os-api/repository/repositories.go
  packages/server/customer-os-api/service/interaction_session_service.go
  packages/server/customer-os-api/test/neo4j/neo4j_data_helper.go
Labels: app/customer-os-api

#1325 fix: #1324 Fixed add contact note, display note author
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/note.module.scss
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/contact/getContactTimeline.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTimeline.graphql
  packages/apps/spaces/hooks/useNote/types.ts
  packages/apps/spaces/hooks/useNote/useCreateContactNote.ts
  packages/apps/spaces/state/editor.ts
Labels: bug, app/spaces

#1342 feat: #1332 Page views UI
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/AnalysisContent.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/DialogContent.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/Message.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/TranscriptContent.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/message.module.scss
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/EmailTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/note.module.scss
  packages/apps/spaces/components/ui-kit/molecules/ticket-timeline-item/TicketTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/web-action-timeline-item/WebActionTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/web-action-timeline-item/web-action-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/contact/getContactTimeline.graphql
  packages/apps/spaces/hooks/useContactTimeline/useContactTimeline.ts
  packages/apps/spaces/styles/theme.css
  packages/apps/spaces/utils/date.ts
Labels: app/spaces

#1350 feat: #1344 New note design implementation
  packages/apps/spaces/components/contact/contact-details/ContactPersonalDetails.tsx
  packages/apps/spaces/components/contact/editor/ContactEditor.tsx
  packages/apps/spaces/components/contact/editor/ContactNoteModalTemplate.tsx
  packages/apps/spaces/components/index.ts
  packages/apps/spaces/components/ui-kit/atoms/avatar-button/AvatarButton.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/avatar.module.scss
  packages/apps/spaces/components/ui-kit/atoms/avatar/utils.ts
  packages/apps/spaces/components/ui-kit/molecules/contact-avatar/ContactAvatar.tsx
  packages/apps/spaces/components/ui-kit/molecules/contact-avatar/index.ts
  packages/apps/spaces/components/ui-kit/molecules/editor/Editor.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/note.module.scss
  packages/apps/spaces/components/ui-kit/molecules/rich-text-header/RichTextHeader.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/contact/getContactName.graphql
  packages/apps/spaces/hooks/useContact/index.ts
  packages/apps/spaces/hooks/useContact/types.ts
  packages/apps/spaces/hooks/useContact/useContactName.ts
  packages/apps/spaces/pages/contact/[id].tsx
  packages/apps/spaces/pages/organization/[id].tsx
Labels: app/spaces

#1357 #1351: site visits
  packages/apps/spaces/apollo-client.ts
  packages/apps/spaces/components/contact/contact-details/ContactPersonalDetails.tsx
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/organization/organization-timeline/OrganizationTimeline.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/avatar.module.scss
  packages/apps/spaces/components/ui-kit/molecules/contact-avatar/OrganizationAvatar.tsx
  packages/apps/spaces/components/ui-kit/molecules/contact-avatar/index.ts
  packages/apps/spaces/components/ui-kit/molecules/interaction-timeline-item/InteractionTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/interaction-timeline-item/interaction-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/organization-avatar/ContactAvatar.tsx
  packages/apps/spaces/components/ui-kit/molecules/organization-avatar/index.ts
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/index.ts
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline-status/TimelineStatus.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline-status/index.ts
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline-status/timeline-status.module.scss
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline.module.scss
  packages/apps/spaces/components/ui-kit/organisms/timeline/useInfiniteScroll.ts
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/organization/getOrganizationName.graphql
  packages/apps/spaces/hooks/useOrganization/types.ts
  packages/apps/spaces/hooks/useOrganization/useOrganizationName.ts
  packages/apps/spaces/hooks/useStickyScroll/index.ts
  packages/apps/spaces/pages/contact/[id].tsx
  packages/apps/spaces/public/backgrounds/blueprint/no-activity.webp
  packages/apps/spaces/public/backgrounds/blueprint/timeline-error.webp
  packages/apps/spaces/styles/globals.css
Labels: app/spaces

#1376 feat: #1358 Implemented new email UI
  packages/apps/spaces/components/contact/contact-history/ContactHistory.tsx
  packages/apps/spaces/components/organization/organization-timeline/OrganizationTimeline.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/avatar.module.scss
  packages/apps/spaces/components/ui-kit/atoms/button/button.module.scss
  packages/apps/spaces/components/ui-kit/atoms/icon-button/IconButton.tsx
  packages/apps/spaces/components/ui-kit/atoms/icon-button/icon-button.module.scss
  packages/apps/spaces/components/ui-kit/atoms/icons/Reply.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/ReplyLeft.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/ReplyMany.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/index.ts
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/contact-avatar/ContactAvatar.tsx
  packages/apps/spaces/components/ui-kit/molecules/contact-avatar/index.ts
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/EmailTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/EmailParticipants.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/email-participants.module.scss
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/index.ts
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/organization-avatar/OrganizationAvatar.tsx
  packages/apps/spaces/components/ui-kit/molecules/organization-avatar/index.ts
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/contact/getContactNameByEmail.graphql
  packages/apps/spaces/graphQL/contact/getContactNameById.graphql
  packages/apps/spaces/hooks/useContact/index.ts
  packages/apps/spaces/hooks/useContact/types.ts
  packages/apps/spaces/hooks/useContact/useContactCommunicationChannelsDetails.ts
  packages/apps/spaces/hooks/useContact/useContactNameFromEmail.ts
  packages/apps/spaces/hooks/useContact/useContactNameFromId.ts
  packages/apps/spaces/public/icons/reply-left.svg
  packages/apps/spaces/public/icons/reply-many.svg
  packages/apps/spaces/public/icons/reply.svg
Labels: app/spaces

#1379 fix: #1372 Fixed vanishing website address after organization update
  packages/apps/spaces/components/organization/organization-details/edit/OrganizationForm.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/fragments/organization.graphql
Labels: app/spaces

#1414 Timeline items bug fixes
  packages/apps/spaces/components/ui-kit/atoms/icons/Blockquote.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/index.ts
  packages/apps/spaces/components/ui-kit/molecules/rich-text-header/RichTextHeader.tsx
  packages/apps/spaces/public/icons/blockquote.svg
  packages/apps/spaces/styles/normalization.scss
Labels: app/spaces

#1410 fix: #1291: Show author & contact / organization name on the note preview
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/avatar.module.scss
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/organization-avatar/OrganizationAvatar.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/contact/getContactTimeline.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTimeline.graphql
  packages/apps/spaces/styles/normalization.scss
Labels: app/spaces

#1405 feat: Voice call timeline item UI
  packages/apps/spaces/components/organization/organization-details/edit/OrganizationForm.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar-button/AvatarButton.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/Message.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/MessageIcon.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/VoiceWave.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/index.ts
  packages/apps/spaces/components/ui-kit/atoms/message/AnalysisContent.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/DialogContent.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/Message.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/TranscriptContent.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/message.module.scss
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/contact-avatar/ContactAvatar.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/CallParties.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ChatTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/PhoneConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/conversation-timeline-item.module.scss
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/types.ts
  packages/apps/spaces/components/ui-kit/molecules/live-conversation-timeline-item/LiveConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline.module.scss
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/contact/getContactNameByPhoneNumber.graphql
  packages/apps/spaces/hooks/useContact/index.ts
  packages/apps/spaces/hooks/useContact/types.ts
  packages/apps/spaces/hooks/useContact/useContactNameFromPhoneNumber.ts
  packages/apps/spaces/public/icons/message-icon.svg
  packages/apps/spaces/public/icons/voice-wave.svg
Labels: app/spaces

#1423 fix: #1422 Fix app crash if one of the call participant is not user o…
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/avatar/avatar.module.scss
  packages/apps/spaces/components/ui-kit/atoms/message/AnalysisContent.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/CallParties.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/PhoneConversationTimelineItem.tsx
Labels: app/spaces

#1428 #1427: Codegen
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/contact/getContactTimeline.graphql
  packages/apps/spaces/graphQL/fragments/common.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationTimeline.graphql
Labels: app/spaces

#1430 feat: 1427 Adjust FE to consume updated API for analysis event
  packages/apps/spaces/components/index.ts
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/call-party/CallParty.tsx
  packages/apps/spaces/components/ui-kit/atoms/call-party/call-party.module.scss
  packages/apps/spaces/components/ui-kit/atoms/call-party/index.ts
  packages/apps/spaces/components/ui-kit/atoms/index.ts
  packages/apps/spaces/components/ui-kit/atoms/message/AnalysisContent.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/Message.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/MessageDeprecate.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/TranscriptContent.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/index.ts
  packages/apps/spaces/components/ui-kit/atoms/message/message.module.scss
  packages/apps/spaces/components/ui-kit/index.ts
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/CallParties.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ChatTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ConversationParty.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/PhoneConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/index.ts
  packages/apps/spaces/components/ui-kit/molecules/index.ts
  packages/apps/spaces/components/ui-kit/molecules/live-conversation-timeline-item/LiveConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/note-timeline-item/NoteTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/timeline.module.scss
Labels: app/spaces

#1445 chore: #1444 force build
  packages/apps/spaces/components/ui-kit/molecules/live-conversation-timeline-item/LiveConversationTimelineItem.tsx
Labels: app/spaces

#1451 1441 optimistic response is not working for note related actions
  packages/apps/spaces/hooks/useNote/useCreateContactNote.ts
  packages/apps/spaces/hooks/useNote/useCreateOrganizationNote.ts
Labels: bug, app/spaces

#1472 fix: App crashes when summary & transcript for analysis are on separate pages
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
  packages/apps/spaces/hooks/useContactTimeline/useContactTimeline.ts
  packages/apps/spaces/hooks/useOrganizationTimeline/useOrganizationTimeline.ts
Labels: app/spaces

#1480 #1479: Clean up console statements
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
Labels: app/spaces

#1460 fix: #1459 restored support for conversation type events
  packages/apps/spaces/components/ui-kit/atoms/message/AnalysisContent.tsx
  packages/apps/spaces/components/ui-kit/atoms/message/TranscriptContent.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/CallParties.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/EmailTimelineItemTemp.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/PhoneConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/EmailTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/EmailParticipants.tsx
  packages/apps/spaces/components/ui-kit/organisms/timeline/Timeline.tsx
Labels: bug, app/spaces

#1464 Sync subsidiary organizations.
  packages/runner/sync-customer-os-data/entity/organization.go
  packages/runner/sync-customer-os-data/repository/organization_repository.go
  packages/runner/sync-customer-os-data/service/organization_sync_service.go
  packages/runner/sync-customer-os-data/source/zendesk_support/service/zendesk_support_data_service.go
  packages/server/customer-os-api/repository/organization_repository.go
Labels: app/sync-customer-os-data

#1455 fix: #1454: Ui improvements
  packages/apps/spaces/components/ui-kit/atoms/avatar/Avatar.tsx
  packages/apps/spaces/components/ui-kit/atoms/call-party/call-party.module.scss
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ConversationParty.tsx
  packages/apps/spaces/components/ui-kit/molecules/conversation-timeline-item/ConversationTimelineItem.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/EmailParticipants.tsx
  packages/apps/spaces/components/ui-kit/molecules/email-timeline-item/email-participants/email-participants.module.scss
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/fragments/common.graphql
  packages/apps/spaces/graphQL/user/getUserByEmail.graphql
  packages/apps/spaces/hooks/useUser/index.ts
  packages/apps/spaces/hooks/useUser/types.ts
  packages/apps/spaces/hooks/useUser/useUser.ts
  packages/apps/spaces/utils/getContactName.ts
Labels: app/spaces
