Repository openline-ai/openline-customer-os, pull requests merged in 2023-08, with the labels that each got.

#3040 3038 UI fixes, stamp quality, mail ui improvements
  packages/apps/spaces/app/organizations/[id]/components/Timeline/EmptyTimeline.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/OrganizationTimeline.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ParticipantsSelectGroup.tsx
  packages/apps/spaces/public/backgrounds/organization/post-stamp.webp
  packages/apps/spaces/public/backgrounds/organization/poststamp1.webp
  packages/apps/spaces/ui/form/SyncSelect/Select.tsx
Labels: app/spaces

#3067 fix #3063: Pressing enter should not send email
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.tsx
  packages/apps/spaces/styles/globals.scss
Labels: bug, app/spaces

#3066 fix #3062: Fixed timestamp drop-shadow
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailStub.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ParticipantsSelectGroup.tsx
Labels: bug, app/spaces

#3060 Fix 3050: Avoid sending mutation requests when there are no data changes
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/AboutPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/FormSocialInput/FormSocialInput.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/PeoplePanel.tsx
Labels: bug, app/spaces

#3065 refactor: #3064 Button theme update
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/PeoplePanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/OrganizationTimeline.tsx
  packages/apps/spaces/ui/form/Button/Button.theme.ts
Labels: refactor, app/spaces

#3061 fix #3046: Last funding amount should allow only numbers greater than 0
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/AboutPanel.tsx
  packages/apps/spaces/ui/form/InputGroup/FormNumberInputGroup.tsx
  packages/apps/spaces/ui/form/InputGroup/index.ts
  packages/apps/spaces/ui/form/NumberInput/FormNumberInput.tsx
  packages/apps/spaces/ui/form/NumberInput/NumberInput.theme.ts
  packages/apps/spaces/ui/form/NumberInput/NumberInput.tsx
  packages/apps/spaces/ui/form/NumberInput/index.ts
  packages/apps/spaces/ui/theme/theme.ts
Labels: bug, app/spaces

#3082 feat #3060: Added confirmation dialog for email deletion in email preview modal
  packages/apps/spaces/app/organizations/[id]/components/Timeline/TimelineActions/TimelineActions.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/EmailResponseModeChangeButtons.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ParticipantsSelectGroup.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/utils.ts
  packages/apps/spaces/ui/presentation/Modal/ConfirmDeleteDialog/DeleteDialog.tsx
Labels: feature request, app/spaces

#3089 fix #3087, #3088 Fixed panel corners, updated dialog icons, updated condition
  packages/apps/spaces/app/components/PageLayout/PageLayout.tsx
  packages/apps/spaces/app/organizations/[id]/components/MainSection/MainSection.tsx
  packages/apps/spaces/app/organizations/[id]/components/SideSection/SIdeSection.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AboutPanel/AboutPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/PeoplePanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailMetaDataEntry.tsx
  packages/apps/spaces/app/organizations/[id]/layout.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/hooks/useOrganization/useArchiveOrganizations.ts
  packages/apps/spaces/hooks/useOrganization/useCreateOrganization.ts
  packages/apps/spaces/hooks/useOrganization/useMergeOrganizations.ts
  packages/apps/spaces/pages/_app.tsx
Labels: bug, app/spaces

#3099 fix: Allow clearing values from comboboxes with button #3055
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/Delete.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/index.ts
  packages/apps/spaces/public/icons/delete.svg
  packages/apps/spaces/ui/form/SyncSelect/Select.tsx
Labels: bug, app/spaces

#3096 fix #3095: Fixed timezone overflow and wanky transition
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/ContactCard/ContactCard.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/TimelineActions/TimelineActions.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
Labels: bug, app/spaces

#3117 fix: searchbar wrapper focus on click
  packages/apps/spaces/components/ui-kit/molecules/gCLI/GCLIInput.module.scss
  packages/apps/spaces/components/ui-kit/molecules/gCLI/GCLIInput.tsx
Labels: app/spaces

#3132 feat: renewal likelihood
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/AccountPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihood.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihoodModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/index.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/ContactCard/ContactCard.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/TimelineActions/TimelineActions.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationList.tsx
  packages/apps/spaces/ui/form/Button/index.ts
  packages/apps/spaces/ui/media/Dot/Dot.tsx
  packages/apps/spaces/ui/media/Dot/index.ts
  packages/apps/spaces/ui/media/Icon/FeaturedIcon.tsx
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
  packages/apps/spaces/ui/overlay/AlertDialog/ConfirmDeleteDialog/DeleteDialog.tsx
  packages/apps/spaces/ui/overlay/AlertDialog/ConfirmDeleteDialog/index.ts
  packages/apps/spaces/ui/overlay/AlertDialog/InfoDialog/InfoDialog.tsx
  packages/apps/spaces/ui/overlay/AlertDialog/InfoDialog/index.ts
  packages/apps/spaces/ui/overlay/Modal/index.ts
Labels: app/spaces

#3164 feat: #3162 Integrate billing details, renewal forecast and renewal likelihood with BE queries and mutations
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/AccountPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/AccountPanelSkeleton.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/BillingDetailsCard/BillingDetailsCard.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/BillingDetailsCard/OrganziationAccountBillingDetails.dto.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecast.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecastModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihood.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihoodModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/utils.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/util.ts
  packages/apps/spaces/app/organizations/[id]/graphql/getAccountPanelDetails.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/getAccountPanelDetails.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/updateBillingDetails.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/updateBillingDetails.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/updateRenewalForecast.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/updateRenewalForecast.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/updateRenewalLikelyhood.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/updateRenewalLikelyhood.graphql
  packages/apps/spaces/app/types/__generated__/graphql.types.ts
  packages/apps/spaces/ui/form/CurrencyInput/CurrencyInput.tsx
  packages/apps/spaces/ui/form/CurrencyInput/FormCurrencyInput.tsx
  packages/apps/spaces/ui/form/DatePicker/DatePicker.tsx
  packages/apps/spaces/utils/getUserEmail.ts
Labels: feature request, app/spaces

#3172 fix: 3168 UI feedback for account panel
  packages/apps/spaces/app/organizations/[id]/components/OrganizationSidenav/OrganizationSidenav.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/AccountPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/BillingDetailsCard/BillingDetailsCard.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecast.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecastModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihood.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihoodModal.tsx
  packages/apps/spaces/app/organizations/[id]/graphql/getAccountPanelDetails.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/getAccountPanelDetails.graphql
  packages/apps/spaces/styles/date-picker.scss
  packages/apps/spaces/ui/form/CurrencyInput/CurrencyInput.tsx
  packages/apps/spaces/ui/form/CurrencyInput/utils.ts
  packages/apps/spaces/ui/form/DatePicker/DatePicker.tsx
  packages/apps/spaces/ui/form/SyncSelect/Select.tsx
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
Labels: bug, app/spaces

#3173 fix 3170 Updated border style in date-picker.scss to prevent jumping effect on input hover
  packages/apps/spaces/styles/date-picker.scss
Labels: app/spaces

#3182 feat: 3177: Add time to renewal stub
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/AccountPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/BillingDetailsCard/BillingDetailsCard.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/BillingDetailsCard/OrganziationAccountBillingDetails.dto.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/TimeToRenewal/TimeToRenewal.tsx
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
Labels: feature request

#3208 fix: 3180 truncate renewal likelihood text
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihood.tsx
Labels: bug

#3237 fix #3171 Renewal icon rings should be gray when value is updated by the user + related copy fix
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecast.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihood.tsx
  packages/apps/spaces/utils/getUserEmail.ts
Labels: bug, app/spaces

#3240 fix #3239 Update link handling for OrganizationTableCell
  packages/apps/spaces/components/finder/finder-table/OrganizationTableCell.tsx
  packages/apps/spaces/utils/getExternalLink.ts
Labels: bug, app/spaces

#3243 fix #3179: Show proper message when the reason for changing renewal likelihood or forecast was not provided
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecast.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihood.tsx
  packages/apps/spaces/ui/media/Icon/customIcons.tsx
Labels: bug, app/spaces

#3247 fix 3230 Fixed reply all in email, participant display, email spacing and overflow in modal
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihood.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailMetaDataEntry.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ParticipantsSelectGroup.tsx
Labels: bug, app/spaces

#3269 feat: 3195 Added slack support to timeline
  packages/apps/spaces/app/organizations/[id]/components/OrganizationSidenav/OrganizationSidenav.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecastModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/utils.ts
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/PeoplePanel/ContactCard/ContactCard.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/OrganizationTimeline.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/TimelineActions/TimelineActions.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/EmailResponseModeChangeButtons.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ParticipantsSelectGroup.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/utils.ts
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/slack/SlackMessageCard.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/slack/SlackStub.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/slack/SlackThreadPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/slack/ViewInSlackButton.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/preview/TimelineEventPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/graphql/getTimeline.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/getTimeline.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/organizationPeoplePanel.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/organizationPeoplePanel.graphql
  packages/apps/spaces/app/types/__generated__/graphql.types.ts
  packages/apps/spaces/components/ui-kit/atoms/icons/ExternalLink.tsx
  packages/apps/spaces/components/ui-kit/atoms/icons/Slack.tsx
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/finder/dashboardView_Organizations.graphql
  packages/apps/spaces/public/icons/external-link.svg
  packages/apps/spaces/public/icons/slack.svg
  packages/apps/spaces/ui/form/Button/Button.theme.ts
  packages/apps/spaces/ui/media/Avatar/Avatar.theme.ts
  packages/apps/spaces/ui/overlay/Tooltip/Tooltip.theme.ts
  packages/apps/spaces/utils/getParticipantsName.ts
Labels: feature request, app/spaces

#3271 fix #3268: Change G to B in monetary value abbreviation, remove value after dot if it's zero
  packages/apps/spaces/utils/getFormattedCurrencyNumber.ts
Labels: bug, app/spaces

#3275 fix: #3272 Email cc fix, overflow fix, renewal comment condition fix
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecast.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.tsx
Labels: bug, app/spaces

#3284 fix 3280: Fix featured icon color
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/AccountPanel.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecast.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalLikelihood/RenewalLikelihood.tsx
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/utils.ts
Labels: bug, app/spaces

#3321 fix: #3231 Update customeros logo across app
  packages/apps/spaces/app/components/RootSidenav/RootSidenav.tsx
  packages/apps/spaces/app/settings/Tabs/panels/IntegrationsPanel/IntegrationsPanel.tsx
  packages/apps/spaces/components/ui-kit/atoms/timeline-item/NoActivityTimelineElement.tsx
  packages/apps/spaces/components/ui-kit/organisms/side-panel/SidePanel.tsx
  packages/apps/spaces/components/ui-kit/organisms/side-panel/side-panel.module.scss
  packages/apps/spaces/pages/auth/signin.tsx
  packages/apps/spaces/public/favicon.ico
  packages/apps/spaces/public/logos/customer-os-with-text.png
  packages/apps/spaces/public/logos/customer-os.png
Labels: bug, app/spaces

#3322 fix #3313: Fix duplicated participant name
  packages/apps/spaces/utils/getParticipantsName.ts
Labels: bug, app/spaces

#3324 fix #3319: Change copy in renewal forecast modal. Drop all referrals to subscription
  packages/apps/spaces/app/organizations/[id]/components/Tabs/panels/AccountPanel/RenewalForecast/RenewalForecast.tsx
Labels: bug, app/spaces

#3327 fix #3320: Handle a lot of email participant in email preview modal
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/EmailParticipantSelect.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ParticipantsSelectGroup.tsx
Labels: bug, app/spaces

#3329 fix #3288: If session name is available display it instead of 'thread'
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/slack/SlackThreadPreviewModal.tsx
Labels: bug, app/spaces

#3336 fix: #3287 Slack UI tweaks
  packages/apps/spaces/app/organizations/[id]/components/Timeline/OrganizationTimeline.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/TimelineItem/TimelineItemSkeleton.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/slack/SlackMessageCard.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/slack/SlackThreadPreviewModal.tsx
  packages/apps/spaces/app/organizations/[id]/graphql/getTimeline.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/getTimeline.graphql
  packages/apps/spaces/app/types/__generated__/graphql.types.ts
  packages/apps/spaces/ui/media/Avatar/Avatar.theme.ts
Labels: bug, app/spaces

#3358 #3331 Fix email participant display if there is no participant name available
  packages/apps/spaces/utils/getParticipantsName.ts
Labels: bug, app/spaces

#3364 refactor: #3363 Remove all usages of health indicator
  packages/apps/spaces/components/index.ts
  packages/apps/spaces/components/organization/health-select/HealthIndicatorSelect.tsx
  packages/apps/spaces/components/organization/health-select/select/HealthIndicatorSelectMenu.tsx
  packages/apps/spaces/components/organization/health-select/select/HealthIndicatorToggleButton.tsx
  packages/apps/spaces/components/organization/health-select/select/health-selector.module.scss
  packages/apps/spaces/components/organization/index.ts
  packages/apps/spaces/components/organization/organization-contacts/OrganizationContacts.tsx
  packages/apps/spaces/components/organization/organization-contacts/index.ts
  packages/apps/spaces/components/organization/organization-contacts/organization-contacts.module.scss
  packages/apps/spaces/components/organization/organization-contacts/skeletons/OrganizationContactsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-contacts/skeletons/index.ts
  packages/apps/spaces/components/organization/organization-details/OrganizationBaseDetails.tsx
  packages/apps/spaces/components/organization/organization-details/OrganizationCommunicationDetails.tsx
  packages/apps/spaces/components/organization/organization-details/OrganizationCustomFields.tsx
  packages/apps/spaces/components/organization/organization-details/OrganizationDetails.tsx
  packages/apps/spaces/components/organization/organization-details/health-indicator/OrganizationHealthIndicator.tsx
  packages/apps/spaces/components/organization/organization-details/health-indicator/health-indicator-owner.module.scss
  packages/apps/spaces/components/organization/organization-details/health-indicator/index.ts
  packages/apps/spaces/components/organization/organization-details/index.ts
  packages/apps/spaces/components/organization/organization-details/organization-details.module.scss
  packages/apps/spaces/components/organization/organization-details/skeletons/OrganizationCommunicationDetailsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-details/skeletons/OrganizationDetailsSkeleton.tsx
  packages/apps/spaces/components/organization/organization-details/skeletons/index.ts
  packages/apps/spaces/components/organization/organization-details/type.ts
  packages/apps/spaces/components/organization/organization-locations/OrganizationLocations.tsx
  packages/apps/spaces/components/organization/organization-locations/index.ts
  packages/apps/spaces/components/organization/organization-timeline/OrganizationTimeline.tsx
  packages/apps/spaces/components/organization/organization-timeline/data.ts
  packages/apps/spaces/components/organization/organization-timeline/index.ts
  packages/apps/spaces/components/organization/organization-timeline/organization-timeline.module.scss
  packages/apps/spaces/components/organization/organization-toolbelt/OrginizationToolbelt.tsx
  packages/apps/spaces/components/organization/skeletons/OrganizationProfileSkeleton.tsx
  packages/apps/spaces/components/organization/skeletons/index.ts
  packages/apps/spaces/components/shared/location/Location.tsx
  packages/apps/spaces/components/shared/location/LocationList.tsx
  packages/apps/spaces/components/shared/location/index.ts
  packages/apps/spaces/components/shared/location/location-list.module.scss
  packages/apps/spaces/components/shared/location/skeletons/LocationListSkeleton.tsx
  packages/apps/spaces/components/shared/page-skeleton/PageSkeleton.tsx
  packages/apps/spaces/components/ui-kit/index.ts
  packages/apps/spaces/components/ui-kit/layouts/details-page-layout/DetailsPageLayout.tsx
  packages/apps/spaces/components/ui-kit/layouts/details-page-layout/details-page-layout.module.scss
  packages/apps/spaces/components/ui-kit/layouts/details-page-layout/index.ts
  packages/apps/spaces/components/ui-kit/layouts/index.ts
  packages/apps/spaces/graphQL/__generated__/generated.ts
  packages/apps/spaces/graphQL/__generated__/graphql.schema.json
  packages/apps/spaces/graphQL/finder/dashboardView_Organizations.graphql
  packages/apps/spaces/graphQL/organization/getOrganization.graphql
  packages/apps/spaces/graphQL/organization/getOrganizationDetails.graphql
  packages/apps/spaces/graphQL/organization/removeHealthIndicatorOrganization.graphql
  packages/apps/spaces/graphQL/organization/setHealthIndicatorOrganization.graphql
  packages/apps/spaces/hooks/useHealthIndicators/index.ts
  packages/apps/spaces/hooks/useHealthIndicators/useHealthIndicators.ts
  packages/apps/spaces/hooks/useHealthIndicators/useSetHealthIndicator.ts
  packages/apps/spaces/pages/organization/[id].tsx
  packages/apps/spaces/pages/organization/organization.module.scss
  packages/apps/spaces/pages/portfolio/portfolio.module.scss
  packages/apps/spaces/styles/theme.css
Labels: bug, app/spaces

#3374 refactor: #3242: Remove deprecated error pages and replace with new ones
  packages/apps/spaces/app/components/ErrorPage/ErrorPage.module.scss
  packages/apps/spaces/app/components/ErrorPage/ErrorPage.tsx
  packages/apps/spaces/app/not-found.tsx
  packages/apps/spaces/components/index.ts
  packages/apps/spaces/components/ui-kit/atoms/error-pages/AppCrashed.tsx
  packages/apps/spaces/components/ui-kit/atoms/error-pages/NotFound.tsx
  packages/apps/spaces/components/ui-kit/atoms/error-pages/index.ts
  packages/apps/spaces/components/ui-kit/atoms/icons/HalfCirclePattern.tsx
  packages/apps/spaces/components/ui-kit/index.ts
  packages/apps/spaces/components/ui-kit/organisms/error-page/ErrorPage.tsx
  packages/apps/spaces/components/ui-kit/organisms/error-page/error-page.module.scss
  packages/apps/spaces/components/ui-kit/organisms/error-page/index.ts
  packages/apps/spaces/components/ui-kit/organisms/index.ts
  packages/apps/spaces/pages/404/index.tsx
  packages/apps/spaces/pages/500/index.tsx
Labels: refactor, app/spaces

#3392 feat 3391 Remember previewed event (organization event)
  packages/apps/spaces/app/components/RootSidenav/RootSidenav.tsx
  packages/apps/spaces/app/organizations/[id]/components/OrganizationSidenav/OrganizationSidenav.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/OrganizationTimeline.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/preview/TimelineEventsPreviewContext/TimelineEventPreviewContext.tsx
  packages/apps/spaces/app/settings/SettingsSidenav/SettingsSidenav.tsx
  packages/apps/spaces/components/finder/finder-table/OrganizationTableCell.tsx
  packages/apps/spaces/components/organization/organization-list/OrganizationListColumns.tsx
Labels: feature request, app/spaces

#3464 fix #3463: Update last active position on modal close
  packages/apps/spaces/app/organizations/[id]/components/Timeline/preview/TimelineEventsPreviewContext/TimelineEventPreviewContext.tsx
Labels: bug, app/spaces

#3462 fix #3461: Fix validation for closing email preview modal
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/EmailPreviewModal.tsx
Labels: bug, app/spaces

#3465 fix #3445 & #3441: Add Heading icon and functionality to RichTextEditor + list indent
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/email/compose-email/ComposeEmail.tsx
  packages/apps/spaces/styles/remirror-editor.scss
  packages/apps/spaces/ui/form/RichTextEditor/menu/BasicEditorToolbar.tsx
  packages/apps/spaces/ui/form/RichTextEditor/menu/TextFormatButtons.tsx
  packages/apps/spaces/ui/media/icons/Heading.tsx
  packages/apps/spaces/ui/media/icons/index.ts
Labels: bug, app/spaces

#3472 fix #3471: Fixed missing participants in meeting stub and meeting date wrapping icon
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/meeting/MeetingStub.tsx
  packages/apps/spaces/app/organizations/[id]/components/Timeline/events/utils.ts
  packages/apps/spaces/app/organizations/[id]/graphql/getTimeline.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/getTimeline.graphql
  packages/apps/spaces/app/organizations/[id]/graphql/participantsFragment.generated.ts
  packages/apps/spaces/app/organizations/[id]/graphql/participantsFragment.graphql
  packages/apps/spaces/app/types/__generated__/graphql.types.ts
  packages/apps/spaces/utils/getParticipantsName.ts
Labels: bug, app/spaces
